@model IEnumerable<ProjectManagement.Models.GeneralIncidentModel>
@{
    ViewBag.Title = "DisclosedGeneralIncidents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Disclosed Incidents
        </div>
        <div class="tools"></div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="table-scrollable">
                <table class="table table-bordered dtTable" id="tblIncident" role="grid" aria-describedby="sample_1_info">
                    <thead>
                        <tr>
                            <th class="text-center">Title</th>
                            <th class="text-center">Category</th>
                            <th class="text-center">Reffered To</th>
                            <th class="text-center">Details</th>
                            <th class="text-center">Added Date</th>
                            <th class="text-center">Added By</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr id="@i.GeneralIncidentId">
                                <td class="hiddenColumn">@i.GeneralIncidentId</td>
                                <td class="text-center">@i.GeneralIncidentTitle</td>
                                <td class="text-center">@i.GeneralIncidentCategories</td>
                                <td class="text-center">@i.RoleDescription</td>
                                <td class="text-center">@i.GeneralIncidentDetails</td>
                                <td class="text-center">@i.AddedDate</td>
                                <td class="text-center">@i.AddedByName</td>
                                <td class="text-center"><span class="badge badge-primary badge-roundless"><label id="">@i.Status</label></span></td>
                                <td class="text-center">
                                    <button class="btn btn-sm sbold uppercase btn-outline red-haze btnDetails ">Details</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $('.btnDetails').on('click', function () {
        //var rowindex = $(this).closest('tr').index();
        //console.log(rowindex);
        var incidentid = $(this).closest('tr').find('td:eq(0)').text();
        //alert(incidentid);
        var url = '@Url.Action("GeneralIncidentDetails", "GeneralIncident")?incidentId=' + incidentid;
        window.location.href = url;
    });
</script>