@model IEnumerable<ProjectManagement.Models.DiscussionModel>
    @{
        Layout = null;
    }

    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <link href="~/assets/recommended-styles.css" rel="stylesheet" />
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.hashtags.js"></script>
    <link href="~/assets/jquery.hashtags.css" rel="stylesheet" />
    <script src="~/assets/global/plugins/autosize/autosize.min.js"></script>
    <link href="~/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <style>
        #partial {
            z-index: 1;
        }

        #comment_div {
            position: -webkit-sticky;
            position: sticky;
            top: 8%;
            z-index: 2;
            background-color: white;
        }

        #trendinghash {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
        }

        #title_div {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 2;
            background-color: white;
        }
    </style>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Discussion</title>
    </head>
        <body>
            <div id="stat" style="position: fixed;font-size: 10px">0</div>
            <br />
            <div class="container" id="wrapper">
                <div class="page-head">
                    <div class="page-title">
                        <h3>
                            Welcome! @ViewBag.UserInfo.UserFullName
                            @*<small>only projects which passed QC</small>*@
                        </h3>
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div id="title_div">
                        <div class="well well-sm text-center" style="background-color: deepskyblue">
                            <button type="button" class="btn btn-circle-left  pull-left" id="btnBack" onclick="window.location.href='test'"><i class="glyphicon glyphicon-circle-arrow-left"></i></button>
                            @*<img class="img-responsive" src="~/assets/pages/img/6_walton%20logo-1.png" alt="Chania" style="height: 20px;width: 20px">*@
                            <label class="text-center" style="font-size: 20px;font-weight:bolder;color: white">WPMS Discussion</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <div id="trendinghash">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Top Trending Hashtags</div>
                                        <div class="panel-body">
                                            <table id="tblTrendingTag" class="table table-bordered">
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                            <div class="col-md-9">
                                <div id="comment_div">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <input id="search" type="text" class="form-control" placeholder="Search..">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="comment">Comment:</label>
                                                <textarea class="form-control" rows="3" id="comment"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="file" id="attach" class="form-control" multiple=""/>
                                            <br/>
                                            <button type="button" class="btn btn-sm btn-success" id="btnComment">Submit</button>
                                        </div>
                                    </div>
                                    <br />
                                </div>

                                <div id="partial">
                                    @Html.Partial("_DiscussionPartialView", Model)
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                </div>
            </div>
        </body>
</html>

<script src="~/Scripts/mention.js"></script>
<script src="~/Scripts/bootstrap-typeahead.js"></script>

<audio controls="controls" preload="auto" id="notificationSound" hidden="">
    <source src="~/Audio/to-the-point.mp3" type="audio/mpeg" />
</audio>

<script>
    //=====auto refresh partial view=====
    var time = new Date().getTime();
    $(document.body).bind("mousemove keypress", function (e) {
        time = new Date().getTime();
    });
    
    //======notification sound condition====
    var counter = 0;
    function newCommentCheck() {
        $.post('@Url.Action("NewCommentCheck","Common")', {}, function (count) {
            if (counter != 0 && count > counter) {
                document.getElementById("notificationSound").play();
            }
            counter = count;
        });
    }
    
    //=======top trending #tag check=======
    function topTrendingTagCheck() {
        $.post('@Url.Action("TopTrendingTagCheck", "Common")', {}, function (data) {
            console.log('%cTop Trending Hashtags:', 'color:orange;font-weight:bold;');
            console.table(data);
            $('#tblTrendingTag tbody').empty();
            for (var i = 0; i < data.length; i++) {
                var hash = data[i].Hashtag.replace(/\#/g, '%23');
                var url = '@Url.Action("Discussion","Common")' + '?tag=' + hash;
                var tag = '<a href="'+url+'">'+data[i].Hashtag+'</a>';
                var row = '<tr>' +
                '<td class="text-center">' + tag + '</td>' +
                '</tr>';
                $('#tblTrendingTag tbody').append(row);
            }  
        });
    }

    $(document).ready(
        function() {
            newCommentCheck();
            topTrendingTagCheck();
        }
    );

    function refresh() {
        newCommentCheck();
        topTrendingTagCheck();
        //if (new Date().getTime() - time >= 20000) {
        var currenturl = window.location.href;
        var exp1 = /str/;
        var exp2 = /tag/;
        if (!currenturl.match(exp1) && !currenturl.match(exp2)) {
            var url = '@Url.Action("DiscussionPartialView", "Common")';
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'html',
                cache: false,
                success: function (html) {
                    //show it on page
                    console.log('partial view refresh');
                    $('#partial').empty();
                    $('#partial').append(html);
                }
            });
        }
        //}
    }
    //setInterval(refresh, 10000);
    //===============
    $("#comment").hashtags();
    var url = '@Url.Action("GetUserNameForMention","Common")';
    $('#comment').keyup(function (e) {
        var key = String.fromCharCode(e.which);
        if (key == 2) {
            console.log(key);
            $.post(url, {}, function (data) {
                //console.log(data);
                var arr = [];
                for (var i = 0; i < data.length; i++) {
                    arr.push({
                        username: data[i].UserFullName
                    });
                }
                console.log(arr);
                $("#comment").mention({
                    emptyQuery: true,
                    users: arr
                });
            });
        }
    });

    $('#btnComment').on('click', function () {
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('attach');
        //Iterating through each files selected in fileInput
        for (var i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }
        
        var url = '@Url.Action("SaveDiscussion","Common")';
        var comment = $('#comment').val();
        if (comment != '') {
            $.post(url, { comment: comment }, function (data) {
                console.log(data);
                //======================
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '@Url.Action("Upload","Common")' + '?id=' + data.DiscussionId);
                xhr.send(formdata);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        console.log(xhr.responseText);
                        //======================
                        $('#comment').val('');
                        window.location.href = '@Url.Action("Discussion","Common")';
                    }
                };
                
            });
        } else {
            alert("Comment required");
        }
    });

    $('#search').keypress(function (e) {
        if (e.which == 13) {
            var hash = $('#search').val();
            hash = hash.replace(/\#/g, '%23');
            console.log(hash);
            var url = '@Url.Action("Discussion","Common")' + '?tag=' + hash;
            console.log(url);
            window.location.href = url;
        }
    });


    $('#search').keyup(function (e) {
        var key = String.fromCharCode(e.which);
        console.log(key);
        if (key == 3) {
            //debugger;
            $('#search').autocomplete({
                delay: 100,
                source: function (request, response) {
                    var url = '@Url.Action("GetHashtags", "Common")';
                    $.post(url, { str: request.term }, function (data) {
                        console.log(data);
                        response($.map(data, function (item) {
                            return { value: item.HashtagName };
                        }));
                    });
                }
            });
        }
    });
    //=================================================
    var availableTags = [];
    function getarr(hash) {
        var url = '@Url.Action("GetHashtagsToArr", "Common")';
        $.post(url, { str: hash }, function (data) {
            console.log(data);
            availableTags = data;
        });
    }

    function extractLast(term) {
        return split(term).pop();
    }
    
    function split(val) {
        return val.split(/ +/);
    }
    
    $('#comment').keyup(function (e) {
        var key = String.fromCharCode(e.which);
        console.log(key);
        if (key == 3) {
            getarr('#');
            //debugger;
            $('#comment').autocomplete({
                delay: 100,
                minLength: 2,
                source: function (request, response) {
                        response($.ui.autocomplete.filter(
            availableTags, extractLast(request.term)));
                }, focus: function () {
                    // prevent value inserted on focus
                    return false;
                },
                select: function (event, ui) {
                    var terms = split(this.value);
                    // remove the current input
                    terms.pop();
                    // add the selected item
                    terms.push(ui.item.value);
                    // add placeholder to get the comma-and-space at the end
                    terms.push("");
                    this.value = terms.join(" ");
                    return false;
                }
            });
        }
    });
    
    //====page scroll effect====
    $(window).scroll(function () {
        //console.log(window.pageYOffset);
        var elmnt = document.getElementById("wrapper");
        var y = $(window).scrollTop();
        $('#stat').text(y + ' | ' + window.pageYOffset + ' | ' + $('#partial').height());
        //if ($(document).height() - win.height() == win.scrollTop()) {
        //    alert("bottom!");
        //}
    });
    
    //====idle class====
    
</script>
