@model IEnumerable<ProjectManagement.Models.ProjectPurchaseOrderFormModel>

    @{
        ViewBag.Title = "RepeatOrderApproval";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }



<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">Approve repeat Order</div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-scrollable table-bordered table-hover dtTable" id="sample_1">
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>P.O No</th>
                            <th>P.O Type</th>
                            <th>Company</th>
                            <th>Quantitiy</th>
                            <th>P.O Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.ProjectName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PurchaseOrderNumber)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PoCategory)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CompanyName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PoDate)</td>
                                    <td>
                                        <input type="submit" class="btn btn-danger btn-sm mt-ladda-btn ladda-button btn-circle" value="Approve" onclick="approve_purchase_order('@Url.Action("ApproveRepeatOrder", "Management")',@item.ProjectPurchaseOrderFormId, $(this))" />

                                        @*"location.href='@Url.Action("ClosePurchaseOrder", "Commercial", new { id = item.ProjectPurchaseOrderFormId })'"*@
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
        <!-- BEGIN EXAMPLE TABLE PORTLET-->

    </div>
</div>
    
                      <div class="row">
                          <div class="col-md-12">
                              <div class="portlet blue box">
                                  <div class="portlet-title">
                                      <div class="caption">Approved repeat Order</div>
                                  </div>
                                  <div class="portlet-body">
                                      <table class="table table-striped table-scrollable table-bordered table-hover dtTable">
                                          <thead>
                                              <tr>
                                                  <th>Project Name</th>
                                                  <th>P.O No</th>
                                                  <th>P.O Type</th>
                                                  <th>Company</th>
                                                  <th>Quantitiy</th>
                                                  <th>P.O Date</th>
                                                  <th>Approve Date</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              @if (ViewBag.ApporvedOrders != null)
                                              {
                                                  foreach (var item in ViewBag.ApporvedOrders)
                                              {
                                                  <tr>
                                                      <td>@item.ProjectName</td>
                                                      <td>@item.PurchaseOrderNumber</td>
                                                      <td>@item.PoCategory</td>
                                                      <td>@item.CompanyName</td>
                                                      <td>@item.Quantity</td>
                                                      <td>@item.PoDate</td>
                                                      <td>@item.ApprovedDate</td>
                                                  </tr>
                                              }
                                              }
                                              

                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                              <!-- END EXAMPLE TABLE PORTLET-->
                              <!-- BEGIN EXAMPLE TABLE PORTLET-->

                          </div>
                      </div>



<script type="text/javascript">
        function approve_purchase_order(url, tablePrimaryId, ths) {
            console.log(tablePrimaryId);
            $.post(url, { orderId: tablePrimaryId }, function (data) {
                if (data == "APPROVED") {
                    alertify.success(data);
                    var row = ths.closest('tr');
                    row.remove();

                } else {
                    alertify.alert('Something went wrong!! Check console log.');
                    console.log(data);
                }
            });
        }
    </script>



