@model ProjectManagement.Controllers.WastageFileUpload
@{
    ViewBag.Title = "CreateNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    th, td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 80%;
    }
</style>

@using (Html.BeginForm("CreateNew", "MaterialWastage", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formId" }))
{
    
    if (TempData["message"] != null)
    {
        var msgType = TempData["messageType"];
        var msg = TempData["message"];
        if ((int)msgType == 1)
        {
            TempData["message"] = null;
            TempData["messageType"] = 0;
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <strong>Message:</strong> @msg
            </div>

        }
        else if ((int)msgType == 2)
        {
            TempData["message"] = null;
            TempData["messageType"] = 0;
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <strong>Message:</strong> @msg
            </div>

        }
        else if ((int)msgType == 3)
        {
            TempData["message"] = null;
            TempData["messageType"] = 0;
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                <strong>Message:</strong> @msg
            </div>
        }
    }
    
    
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">Upload BOM</div>
        </div>
        <div class="portlet-body">

            @*@Html.HiddenFor(x => x.VariantId)*@
            @*<div class="row">
                <div class="col-md-6">
                    
                    @Html.DropDownListFor(model => model.VariantId, new SelectList(ViewBag.Variants, "Id", "ProjectModel"), new { @class = "form-control ddChosen" })
                    
                </div>
            </div>*@
            <br />
            <div class="row">
                <div class="col-md-6">
                    @Html.TextBoxFor(x => x.HttpPostedFileBase, new { @class = "form-control", type = "file", id = "txtFileUpload" })
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-4">
                    <div class="col-md-4">ReportName<span style="color:red"> *</span></div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model=>model.MaterialWastageMaster.ReportName, null, new { @class = "form-control", type = "text" })
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-md-4">Month<span style="color:red"> *</span></div>
                    <div class="col-md-8">
                        @Html.HiddenFor(model=>model.MaterialWastageMaster.MonthName)
                        @Html.DropDownListFor(model => model.MaterialWastageMaster.MonthNumber, new List<SelectListItem>
                        {
                            new SelectListItem { Value = "1", Text = "January"},
                            new SelectListItem { Value = "2", Text = "February"},
                            new SelectListItem { Value = "3", Text = "March"},
                            new SelectListItem { Value = "4", Text = "April"},
                            new SelectListItem { Value = "5", Text = "May"},
                            new SelectListItem { Value = "6", Text = "June"},
                            new SelectListItem { Value = "7", Text = "July"},
                            new SelectListItem { Value = "8", Text = "August"},
                            new SelectListItem { Value = "9", Text = "September"},
                            new SelectListItem { Value = "10", Text = "October"},
                            new SelectListItem { Value = "11", Text = "November"},
                            new SelectListItem { Value = "12", Text = "Decebmer"},
                        }, "select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaterialWastageMaster.MonthNumber, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-md-4">Year<span style="color:red"> *</span></div>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.MaterialWastageMaster.YearNumber, new List<SelectListItem>
                        {
                            new SelectListItem { Text = "2021",Value = "2021"},
                            new SelectListItem { Text = "2022",Value = "2022"},
                            new SelectListItem { Text = "2023",Value = "2023"},
                            new SelectListItem { Text = "2024",Value = "2024"},
                            new SelectListItem { Text = "2025",Value = "2025"},
                            new SelectListItem { Text = "2026",Value = "2026"},
                            new SelectListItem { Text = "2027",Value = "2027"},
                            new SelectListItem { Text = "2028",Value = "2028"},
                            new SelectListItem { Text = "2029",Value = "2029"}
                        }, "select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaterialWastageMaster.YearNumber, String.Empty, new { @style = "color:red;!important" })
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    @*<input type="submit" class="btn btn-success" id="btnUpload" />*@
                    <input type=submit class="btn-circle btn-warning" value="Load The File">
                    
                </div>
            </div>

        </div>
    </div>
    
    <div hidden class="portlet box green-dark">
        <div class="portlet-title">
            <div class="caption">Add BOM by Item Code</div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="col-md-4">Item Code<span style="color:red"> *</span></div>
                    <div class="col-md-8">
                        @Html.TextBox("itemCode", "", new { @class = "form-control", type = "text", id = "itemCode" })
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-md-4">Item Name<span style="color:red"> *</span></div>
                    <div class="col-md-8">
                        @Html.TextBox("itemName", "", new { @class = "form-control", type = "text", id = "itemName" })
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-md-4">BOM Unit<span style="color:red"> *</span></div>
                    <div class="col-md-8">
                        @Html.TextBox("bomUnit", "", new { @class = "form-control", type = "text", id = "bomUnit" })
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-4">
                    <div class="col-md-4">BOM U. Price<span style="color:red"> *</span> </div>
                    <div class="col-md-8">
                        @Html.TextBox("bomUnitPrice", "", new { @class = "form-control", type = "text", id = "bomUnitPrice" })
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="col-md-4">Wastage %<span style="color:red"> *</span></div>
                    <div class="col-md-8">
                        @Html.TextBox("wastagePercentage", "", new { @class = "form-control", type = "text", id = "wastagePercentage" })
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-md-4">Received Qty Without Wastage<span style="color:red"> *</span></div>
                    <div class="col-md-8">
                        @Html.TextBox("receivedQtyWithoutWastage", "", new { @class = "form-control", type = "text", id = "receivedQtyWithoutWastage" })
                    </div>
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-lg-4">
                    <div class="col-md-4">Received Qty With Wastage<span style="color:red"> *</span></div>
                    <div class="col-md-8">
                        @Html.TextBox("receivedQtyWithWastage", "", new { @class = "form-control", type = "text", id = "receivedQtyWithWastage" })
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="col-md-4">Assembly Metarial Faul<span style="color:red"> *</span></div>
                    <div class="col-md-8">
                        @Html.TextBox("assemblyMetarialFaul", "", new { @class = "form-control", type = "text", id = "assemblyMetarialFaul" })
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-md-4">Assembly Process Fault<span style="color:red"> *</span></div>
                    <div class="col-md-8">
                        @Html.TextBox("assemblyProcessFault", "", new { @class = "form-control", type = "text", id = "assemblyProcessFault" })
                    </div>
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-lg-4">
                    <div class="col-md-4">Repair Metarial Fault<span style="color:red"> *</span></div>
                    <div class="col-md-8">
                        @Html.TextBox("repairMetarialFault", "", new { @class = "form-control", type = "text", id = "repairMetarialFault" })
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-md-4">Repair Process Fault<span style="color:red"> *</span></div>
                    <div class="col-md-8">
                        @Html.TextBox("repairProcessFault", "", new { @class = "form-control", type = "text", id = "repairProcessFault" })
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-md-4">Assembly Process Fault<span style="color:red"> *</span></div>
                    <div class="col-md-8">
                        @Html.TextBox("assemblyProcessFault", "", new { @class = "form-control", type = "text", id = "assemblyProcessFault" })
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                Materal Wastage Details
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered table-hover" id="tblMaterialDetails">
                        <thead>
                            <tr>
                                <th>Item Code</th>
                                <th>Item Details</th>
                                <th>BOM Unit</th>
                                <th>Wastage %</th>
                                <th>Rcv. Qty. WO Wastage</th>
                                <th>Rcv. Qty. W. Wastage</th>
                                <th>Total Lot</th>
                                <th>Wastage WO BOM</th>
                                <th>Wastage W. BOM</th>
                                <th>Total Wastage</th>
                                <th>Ass. Mat. Fault</th>
                                <th>Ass. Proc. Fault</th>
                                <th>Rep. Mat. Fault</th>
                                <th>Rep. Proc. Fault</th>
                                <th>Total Fault</th>
                                <th>Till Now Mat. Fault Approved</th>
                                <th>Till Now Proc. Fault Approved</th>
                                <th>Till Now Total Fault Approved</th>
                                <th>Till Now Actual Wastage Ass. Mat. Fault (Total)</th>
                                <th>Till Now Actual Wastage Ass. Proc. Fault (Total)</th>
                                <th>Till Now Actual Wastage Rep. Mat. Fault (Total)</th>
                                <th>Till Now Actual Wastage Rep. Proc. Fault (Total)</th>
                                <th>Till Now Total Wastage Received</th>
                                <th>Actual Wastage Of Total Ass. Wastage %</th>
                                <th>Actual Wastage Of Total Rep. Wastage %</th>
                                <th>Actual Wastage Of Total Lot %</th>
                                <th>Net Adjustment (Actual wastage-FOC) / Total lot</th>
                                <th>Imported QTY with wastage</th>
                                <th>Wastage in BOM</th>
                                <th>Need to Declare</th>
                                <th>Already Signed</th>
                                <th>Need Sign</th>
                                <th>Price</th>
                                <th>Value</th>
                                <th>Cross Check</th>
                                @*<th>FOC Date</th>*@
                                <th>FOC Qty</th>
                                <th>Remarks</th>
                                <th>BOM Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model.MaterialWastageDetails)
                                {
                                    <tr>

                                        <td>@item.ItemCode</td>
                                        <td>@item.ItemName</td>
                                        <td>@item.BOMUnit</td>
                                        @*<td>@if (@item.OpeningDate != null)
                                {@String.Format("{0:yyyy-MM-dd}", @item.OpeningDate)}</td>*@
                                        <td>@item.WastagePercentage</td>
                                        <td>@item.RecQtyWOWastage</td>
                                        <td>@item.RecQtyWWastage</td>
                                        <td>@item.TotalLot</td>
                                        <td>@item.WastageWOBom</td>
                                        <td>@item.WastageWBom</td>
                                        <td>@item.TotalWastage</td>
                                        <td>@item.AssemMaterialFault</td>
                                        <td>@item.AssemProcessFault</td>
                                        <td>@item.RepMaterialFault</td>
                                        <td>@item.RepProcessFault</td>
                                        <td>@item.TotalFault</td>
                                        <td>@item.TotalMaterialFaultApproved</td>
                                        <td>@item.TotalProcessFaultApproved</td>
                                        <td>@item.TotalFaultApproved</td>
                                        <td>@item.TillNowAssemMaterialFault</td>
                                        <td>@item.TillNowAssemProcessFault</td>
                                        <td>@item.TillNowRepMaterialFault</td>
                                        <td>@item.TillNowRepProcessFault</td>
                                        <td>@item.TillNowTotalFault</td>
                                        <td>@item.ActualAssemblyWastage_TotalLot</td>
                                        <td>@item.ActualRepairWastage_TotalLot</td>
                                        <td>@item.ActualWastageOfTotalLot</td>
                                        <td>@item.NetAdjustment</td>
                                        <td>@item.ImportedQtyWithWastage</td>
                                        <td>@item.WastageQtyInBOM</td>
                                        <td>@item.NeedToDeclare</td>
                                        <td>@item.AlreadySined</td>
                                        <td>@item.NeedSign</td>
                                        <td>@item.UnitPrice</td>
                                        <td>@item.TotalPrice</td>
                                        <td>@item.CrossCheck</td>
                                        @*<td>
                                            @if (@item.FOCTakenDate != null)
                                            {@String.Format("{0:yyyy-MM-dd}", @item.FOCTakenDate)}
                                        </td>*@
                                        <td>@item.FOCQty</td>
                                        <td>@item.Remarks</td>
                                        <td>@item.BOMType</td>



















                                        @*<td style="white-space: nowrap">
                                                    @if (User.IsInRole("CM") || User.IsInRole("AUDHEAD")
                                || User.IsInRole("AUD"))
                                                    {
                                                        <input type="submit" class="btn btn-warning btn-sm" value="Details" onclick="location.href='@Url.Action("UpdateLcPermissionDetailsById", "Commercial", new { id = item.Id })'" />
                                                    }

                                                    <input type="submit" class="btn btn-success btn-sm" value="Printable Format" onclick="location.href='@Url.Action("GetLcPermissionDetailsById", "Commercial", new { id = item.Id })'" />
                                                    <input type="submit" class="btn btn-danger btn-sm" value="Approval Details" onclick="window.open('@Url.Action("LcOpeningApprovalDetails", "Common", new { id = item.Id })')" />
                                                </td>*@
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>

                </div>
            </div>
            <input type="button" class="btn-circle btn-success" id ="save" value="Save Data">
        </div>
    </div>
}




<script type="text/javascript">
    $(function () {

        
        var table = $('#tblMaterialDetails').removeAttr('width').DataTable({
            scrollY: "400px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            columnDefs: [
                { width: 200, targets: 0 }
            ],
            fixedColumns: true
        });
        $('#itemCode').keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                var itemCode = $(this).val();
                alert(itemCode);

                $.ajax({
                    url: '@Url.Action("GetBomItemInformation", "MaterialWastage")',
                    type: "GET",
                    data: { itemCode: itemCode },
                    dataType: "json",
                    //contentType: "application/json",
                    success: function (result) {
                        $('#itemName').val(result.SpareDescription);
                        $('#bomUnit').val(result.RequiredPerUnit);
                        $('#bomUnitPrice').val(result.ItemCost);
                    },
                    error: function () { }
                });
            }
        });


        $("#save").on("click", function () {
            var projectMasterId = $('#VariantId').val();
            var wastageFileUpload = {};
            var MaterialWastageMaster = {};
            wastageFileUpload.VariantId = projectMasterId;
            MaterialWastageMaster.ReportName = $('#MaterialWastageMaster_ReportName').val();
            MaterialWastageMaster.MonthNumber = $('#MaterialWastageMaster_MonthNumber').val();
            MaterialWastageMaster.MonthName = $('#MaterialWastageMaster_MonthNumber option:selected').text();
            MaterialWastageMaster.YearNumber = $('#MaterialWastageMaster_YearNumber').val();
            wastageFileUpload.MaterialWastageMaster = MaterialWastageMaster;
            var materials = new Array();
            $("#tblMaterialDetails tbody tr").each(function () {
                var row = $(this);
                var material = {};

                material.ItemCode = row.find("td").eq(0).html();
                material.ItemName= row.find("td").eq(1).html(); 
                material.BOMUnit= row.find("td").eq(2).html();
                material.WastagePercentage= row.find("td").eq(3).html();
                material.RecQtyWOWastage= row.find("td").eq(4).html();
                material.RecQtyWWastage= row.find("td").eq(5).html();
                material.TotalLot= row.find("td").eq(6).html();
                material.WastageWOBom= row.find("td").eq(7).html();
                material.WastageWBom= row.find("td").eq(8).html();
                material.TotalWastage= row.find("td").eq(9).html();
                material.AssemMaterialFault= row.find("td").eq(10).html();
                material.AssemProcessFault= row.find("td").eq(11).html();
                material.RepMaterialFault= row.find("td").eq(12).html();
                material.RepProcessFault= row.find("td").eq(13).html();
                material.TotalFault= row.find("td").eq(14).html();
                material.TotalMaterialFaultApproved= row.find("td").eq(15).html();
                material.TotalProcessFaultApproved= row.find("td").eq(16).html();
                material.TotalFaultApproved= row.find("td").eq(17).html();
                material.TillNowAssemMaterialFault= row.find("td").eq(18).html();
                material.TillNowAssemProcessFault= row.find("td").eq(19).html();
                material.TillNowRepMaterialFault= row.find("td").eq(20).html();
                material.TillNowRepProcessFault= row.find("td").eq(21).html();
                material.TillNowTotalFault= row.find("td").eq(22).html();
                material.ActualAssemblyWastage_TotalLot= row.find("td").eq(23).html();
                material.ActualRepairWastage_TotalLot= row.find("td").eq(24).html();
                material.ActualWastageOfTotalLot= row.find("td").eq(25).html();
                material.NetAdjustment= row.find("td").eq(26).html();
                material.ImportedQtyWithWastage= row.find("td").eq(27).html();
                material.WastageQtyInBOM= row.find("td").eq(28).html();
                material.NeedToDeclare= row.find("td").eq(29).html();
                material.AlreadySined= row.find("td").eq(30).html();
                material.NeedSign= row.find("td").eq(31).html();
                material.UnitPrice= row.find("td").eq(32).html();
                material.TotalPrice= row.find("td").eq(33).html();
                material.CrossCheck= row.find("td").eq(34).html();

                //material.FOCTakenDate = row.find("td").eq(35).html();
                material.FOCQty= row.find("td").eq(35).html();
                material.Remarks= row.find("td").eq(36).html();
                material.BOMType = row.find("td").eq(37).html();


                materials.push(material);
            });
            wastageFileUpload.MaterialWastageDetails = materials;
            console.log(materials);
            
            if (materials.length > 0) {
                $.ajax({                    
                    url: '@Url.Action("SaveWastage","MaterialWastage")', 
                    type: 'POST',
                    //data: JSON.stringify({ statusList: packagingQcList }),
                    data: { wastageFileUpload: wastageFileUpload },
                    dataType: 'json',
                    async: false,
                    //contentType: 'application/json',
                    success: function (result) {
                        if (result.ResponseCode === 1) {


                            alertify.success(result.ResponseMessage);
                            //var table = $('#tblMaterialDetails').removeAttr('width').DataTable({
                            //    //scrollY: "400px",
                            //    //scrollX: true,
                            //    //scrollCollapse: true,
                            //    paging: false,
                            //    searching: false
                            //    //columnDefs: [
                            //    //    { width: 200, targets: 0 }
                            //    //],
                            //    //fixedColumns: true
                            //});
                            var table = $('#tblMaterialDetails').DataTable({destroy: true, searching: false});
                            table.destroy();
                            table.clear().draw();
                            
                            $('#MaterialWastageMaster_ReportName').val("");
                            //$('#MaterialWastageMaster_MonthNumber').val("");
                            $('#MaterialWastageMaster_MonthNumber').val("").attr("selected", "selected");
                            $('#MaterialWastageMaster_YearNumber').val("").attr("selected", "selected");
                        }
                    },
                    error: function (result, textStatus, jqXHR) {
                        //iziToast.error({
                        //    timeout: 2000,
                        //    imageWidth: 150,
                        //    position: 'center',
                        //    title: 'Error',
                        //    message: result
                        //});

                        //return false;
                    }
                });
            }
        });
    });
</script>
