@using System.Web.Mvc.Html
@model ProjectManagement.ViewModels.Hardware.VmHardwareDetailTest


<style>
    div.scrollmenu {
        background-color: #778899;
        overflow: auto;
        white-space: nowrap;
    }

        div.scrollmenu a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }

            div.scrollmenu a:hover {    
                background-color: #777;
            }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.HwTestOverallResultModel.HwQcAssignId, new { @Value = @ViewBag.HwQcAssignId})
    @Html.HiddenFor(model => model.HwTestOverallResultModel.HwQcInchargeAssignId, new { @Value = @ViewBag.HwQcInchargeAssignId })
    @Html.HiddenFor(model => model.HwTestOverallResultModel.Added)
    @Html.HiddenFor(model => model.HwTestOverallResultModel.AddedDate)
    @Html.HiddenFor(model => model.HwTestCustomModel.HwTestOverallResultId, new { @Value = @ViewBag.HwTestCustomModel.HwTestOverallResultId })
    <input type="hidden" id="hdnHwQcAssignId" value="@ViewBag.HwQcAssignId">
    <div class="page-head">
        <div class="page-title">
            <h1>
                Welcome! @ViewBag.UserInfo.UserFullName
                @*<small>only projects which passed QC</small>*@
            </h1>
        </div>
        <div class="action">
            <a class="btn red btn-outline btn-circle btn-sm sbold pull-right" style="margin: 1px" data-toggle="modal" href="#responsive"> View Project Info </a>
            @if (ViewBag.FgFlag == 1)
            {
                @Html.HiddenFor(model => model.HwQcAssignCustomMasterModel.Flag, new { @Value = ViewBag.FgFlag })
                <a class="btn green btn-outline btn-circle btn-sm pull-right jquery-word-export" onclick="location.href='@Url.Action("HwFgTestNavigation", "Hardware")?hwQcAssignId='+$('#hdnHwQcAssignId').val()+'&hwqcinchargeassignId='+'@ViewBag.HwQcInchargeAssignId'+'&projectName='+'@Html.DisplayFor(model=>model.ProjectMasterModel.ProjectName)'">
                    <i class="fa fa-arrow-circle-o-right"></i>
                    Go to Nav Page
                </a>
            }
            else
            {
                <a class="btn green btn-outline btn-circle btn-sm pull-right jquery-word-export" onclick="location.href='@Url.Action("HwTestNavigation", "Hardware")?hwQcAssignId='+$('#hdnHwQcAssignId').val()+'&hwqcinchargeassignId='+'@ViewBag.HwQcInchargeAssignId'+'&projectName='+'@Html.DisplayFor(model=>model.ProjectMasterModel.ProjectName)'">
                    <i class="fa fa-arrow-circle-o-right"></i>
                    Go to Nav Page
                </a>
            }
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="scrollmenu">
                <a onclick="location.href='@Url.Action("HwTestPCBMaterial", "Hardware")?hwQcAssignId='+$('#hdnHwQcAssignId').val()+'&hwqcinchargeassignId='+'@ViewBag.HwQcInchargeAssignId'+'&projectName='+'@Html.DisplayFor(model=>model.ProjectMasterModel.ProjectName)'+'&flag='+'@ViewBag.FgFlag'">PCB</a>
                <a onclick="location.href='@Url.Action("HwTestPcbAComponentInfo", "Hardware")?hwQcAssignId='+$('#hdnHwQcAssignId').val()+'&hwqcinchargeassignId='+'@ViewBag.HwQcInchargeAssignId'+'&projectName='+'@Html.DisplayFor(model=>model.ProjectMasterModel.ProjectName)'">PCBA</a>
                <a onclick="location.href='@Url.Action("HwTestCameraInfo", "Hardware")?hwQcAssignId='+$('#hdnHwQcAssignId').val()+'&hwqcinchargeassignId='+'@ViewBag.HwQcInchargeAssignId'+'&projectName='+'@Html.DisplayFor(model=>model.ProjectMasterModel.ProjectName)'+'&flag='+'@ViewBag.FgFlag'">Camera</a>
                <a onclick="location.href='@Url.Action("HwTestTpLcdInfo", "Hardware")?hwQcAssignId='+$('#hdnHwQcAssignId').val()+'&hwqcinchargeassignId='+'@ViewBag.HwQcInchargeAssignId'+'&projectName='+'@Html.DisplayFor(model=>model.ProjectMasterModel.ProjectName)'+'&flag='+'@ViewBag.FgFlag'">TP+LCD</a>
                <a onclick="location.href='@Url.Action("HwTestSoundInfo", "Hardware")?hwQcAssignId='+$('#hdnHwQcAssignId').val()+'&hwqcinchargeassignId='+'@ViewBag.HwQcInchargeAssignId'+'&projectName='+'@Html.DisplayFor(model=>model.ProjectMasterModel.ProjectName)'+'&flag='+'@ViewBag.FgFlag'">Sound</a>
                <a onclick="location.href='@Url.Action("HwTestFPCandSIMSlotInfo", "Hardware")?hwQcAssignId='+$('#hdnHwQcAssignId').val()+'&hwqcinchargeassignId='+'@ViewBag.HwQcInchargeAssignId'+'&projectName='+'@Html.DisplayFor(model=>model.ProjectMasterModel.ProjectName)'+'&flag='+'@ViewBag.FgFlag'">FPC & SimSlot</a>
                <a onclick="location.href='@Url.Action("HwTestBatteryInfo", "Hardware")?hwQcAssignId='+$('#hdnHwQcAssignId').val()+'&hwqcinchargeassignId='+'@ViewBag.HwQcInchargeAssignId'+'&projectName='+'@Html.DisplayFor(model=>model.ProjectMasterModel.ProjectName)'+'&flag='+'@ViewBag.FgFlag'">Battery</a>
                <a onclick="location.href='@Url.Action("HwTestChargerInfo", "Hardware")?hwQcAssignId='+$('#hdnHwQcAssignId').val()+'&hwqcinchargeassignId='+'@ViewBag.HwQcInchargeAssignId'+'&projectName='+'@Html.DisplayFor(model=>model.ProjectMasterModel.ProjectName)'+'&flag='+'@ViewBag.FgFlag'">Charger</a>
                <a onclick="location.href='@Url.Action("HwTestUsbCableInfo", "Hardware")?hwQcAssignId='+$('#hdnHwQcAssignId').val()+'&hwqcinchargeassignId='+'@ViewBag.HwQcInchargeAssignId'+'&projectName='+'@Html.DisplayFor(model=>model.ProjectMasterModel.ProjectName)'+'&flag='+'@ViewBag.FgFlag'">USB</a>
                <a onclick="location.href='@Url.Action("HwTestEarphoneInterfaceInfo", "Hardware")?hwQcAssignId='+$('#hdnHwQcAssignId').val()+'&hwqcinchargeassignId='+'@ViewBag.HwQcInchargeAssignId'+'&projectName='+'@Html.DisplayFor(model=>model.ProjectMasterModel.ProjectName)'">Earphone</a>
                <a onclick="location.href='@Url.Action("HwTestChargingInfo", "Hardware")?hwQcAssignId='+$('#hdnHwQcAssignId').val()+'&hwqcinchargeassignId='+'@ViewBag.HwQcInchargeAssignId'+'&projectName='+'@Html.DisplayFor(model=>model.ProjectMasterModel.ProjectName)'+'&flag='+'@ViewBag.FgFlag'">Charging</a>
                <a onclick="location.href='@Url.Action("HwTestHousingInfo", "Hardware")?hwQcAssignId='+$('#hdnHwQcAssignId').val()+'&hwqcinchargeassignId='+'@ViewBag.HwQcInchargeAssignId'+'&projectName='+'@Html.DisplayFor(model=>model.ProjectMasterModel.ProjectName)'+'&flag='+'@ViewBag.FgFlag'">Housing</a>
                <a onclick="location.href='@Url.Action("HwTestCrossMatchInfo", "Hardware")?hwQcAssignId='+$('#hdnHwQcAssignId').val()+'&hwqcinchargeassignId='+'@ViewBag.HwQcInchargeAssignId'+'&projectName='+'@Html.DisplayFor(model=>model.ProjectMasterModel.ProjectName)'+'&flag='+'@ViewBag.FgFlag'">Cross Match</a>
                <a onclick="location.href='@Url.Action("HwTestOverall", "Hardware")?hwQcAssignId='+$('#hdnHwQcAssignId').val()+'&hwqcinchargeassignId='+'@ViewBag.HwQcInchargeAssignId'+'&projectName='+'@Html.DisplayFor(model=>model.ProjectMasterModel.ProjectName)'+'&flag='+'@ViewBag.FgFlag'">Overall</a>
                @if (ViewBag.FgFlag == 1)
                {
                    <a onclick="location.href='@Url.Action("HwFgBatteryTest", "Hardware")?hwQcAssignId='+$('#hdnHwQcAssignId').val()+'&hwqcinchargeassignId='+'@ViewBag.HwQcInchargeAssignId'+'&projectName='+'@Html.DisplayFor(model=>model.ProjectMasterModel.ProjectName)'+'&flag='+'@ViewBag.FgFlag'">Battery Cycle Test</a>
                    <a onclick="location.href='@Url.Action("HwFgChargerTest", "Hardware")?hwQcAssignId='+$('#hdnHwQcAssignId').val()+'&hwqcinchargeassignId='+'@ViewBag.HwQcInchargeAssignId'+'&projectName='+'@Html.DisplayFor(model=>model.ProjectMasterModel.ProjectName)'+'&flag='+'@ViewBag.FgFlag'">Charger Test</a>
                    <a onclick="location.href='@Url.Action("HwFgUsbCableTest", "Hardware")?hwQcAssignId='+$('#hdnHwQcAssignId').val()+'&hwqcinchargeassignId='+'@ViewBag.HwQcInchargeAssignId'+'&projectName='+'@Html.DisplayFor(model=>model.ProjectMasterModel.ProjectName)'+'&flag='+'@ViewBag.FgFlag'">USB Cable Test</a>
                }
            </div>
        </div>
    </div>

    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-list"></i>Hardware Test :
            </div>
            <div class="tools">
                <a class="collapse" href="javascript:;" data-original-title="" title=""> </a>

                <a class="reload" href="javascript:;" data-original-title="" title=""> </a>
                <a class="fullscreen" href="#" data-original-title="" title=""> </a>

            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-body">
                        <h4 class="bold"><i class="fa fa-road"></i>Overall</h4>
                        <hr />
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Material Class of PCBA Components", new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.HwTestOverallResultModel.NonClassA_Material, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.HwTestOverallResultModel.NonClassA_Material)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("All Environmental & Reliability Test", new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.HwTestOverallResultModel.AllEnvironmentAndReliabilityTest, new List<SelectListItem>
                                        {
                                            new SelectListItem()
                                            {
                                                Text = "Passed",Value = "Passed"
                                            },
                                            new SelectListItem()
                                            {
                                                Text = "Failed",Value = "Failed"
                                            }
                                        }, "select", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.HwTestOverallResultModel.AllEnvironmentAndReliabilityTest)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Recommendation", new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.HwTestOverallResultModel.Recommendation, new { @class = "form-control", @rows = 3 })
                                            @Html.ValidationMessageFor(model => model.HwTestOverallResultModel.Recommendation)
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Comment", new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.HwTestOverallResultModel.Comment, new { @class = "form-control", @rows = 3 })
                                            @Html.ValidationMessageFor(model => model.HwTestOverallResultModel.Comment)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-10 col-md-offset-2">
                                            @if (@ViewBag.HwTestCustomModel.HwTestOverallResultId == null)
                                            {
                                                <input type="submit" value="Save" class="btn btn-default" id="btnsave" />
                                            }
                                            else
                                            {
                                                <input type="submit" value="Update" class="btn btn-default" id="btnupdate" />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


}

<div class="portlet-body">
    <!-- /.modal -->
    <div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title bold">Project Details</h4>
                </div>
                <div class="modal-body">
                    <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                        <div class="row">
                            <div class="col-md-6">

                                @*<p>
                                    Project Master ID
                                    <input type="text" class="col-md-12 form-control" value="@ViewBag.ProjectDetailForModal.ProjectMasterId" readonly>
                                </p>*@
                                <p>
                                    Project Name
                                    <input type="text" class="col-md-12 form-control" value="@ViewBag.ProjectDetailForModal.ProjectName" readonly>
                                </p>
                                <p>
                                    Supplier Name
                                    <input type="text" class="col-md-12 form-control" value="@ViewBag.ProjectDetailForModal.SupplierName" readonly>
                                </p>
                                <p>
                                    Supplier Model Name
                                    <input type="text" class="col-md-12 form-control" value="@ViewBag.ProjectDetailForModal.SupplierModelName" readonly>
                                </p>
                                <p>
                                    OS Name
                                    <input type="text" class="col-md-12 form-control" value="@ViewBag.ProjectDetailForModal.OsName" readonly>
                                </p>
                                <p>
                                    OS Version
                                    <input type="text" class="col-md-12 form-control" value="@ViewBag.ProjectDetailForModal.OsVersion" readonly>
                                </p>
                                <p>
                                    Display Size
                                    <input type="text" class="col-md-12 form-control" value="@ViewBag.ProjectDetailForModal.DisplaySize" readonly>
                                </p>
                            </div>
                            <div class="col-md-6">

                                <p>
                                    Display Name
                                    <input type="text" class="col-md-12 form-control" value="@ViewBag.ProjectDetailForModal.DisplayName" readonly>
                                </p>
                                <p>
                                    Processor Name
                                    <input type="text" class="col-md-12 form-control" value="@ViewBag.ProjectDetailForModal.ProcessorName" readonly>
                                </p>
                                <p>
                                    Processor Clock
                                    <input type="text" class="col-md-12 form-control" value="@ViewBag.ProjectDetailForModal.ProcessorClock" readonly>
                                </p>
                                <p>
                                    Chipset
                                    <input type="text" class="col-md-12 form-control" value="@ViewBag.ProjectDetailForModal.Chipset" readonly>
                                </p>
                                <p>
                                    Front Camera
                                    <input type="text" class="col-md-12 form-control" value="@ViewBag.ProjectDetailForModal.FrontCamera" readonly>
                                </p>
                                <p>
                                    Back Camera
                                    <input type="text" class="col-md-12 form-control" value="@ViewBag.ProjectDetailForModal.BackCamera" readonly>
                                </p>
                                <p>
                                    RAM
                                    <input type="text" class="col-md-12 form-control" value="@ViewBag.ProjectDetailForModal.Ram" readonly>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                    @*<button type="button" class="btn green">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>

    <!-- /.modal -->
</div>

<script>
    $(function () {
        //var msg = $('#hdnSuccess').val();
        var msg = ('@(TempData["message"])');
        if (msg !== "") {
            alertify.notify(msg, 'success', 5, function () { console.log("dismiss"); });
        }
    });
</script>

