@using System.Web.UI.WebControls
@model ProjectManagement.ViewModels.Home.VmUpdateUserProfile
@using (Html.BeginForm("ChangeUserPassword", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*@Html.HiddenFor(x => x.IsPasswordUpdated)*@
    <div class="form-group">
        <label class="control-label">Old Password</label>
        @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.OldPassword, "", new
   {
       @class = "text-danger",
       oncopy = "return false",
       onpaste = "return false"
   })
    </div>
    <div class="form-group">
        <label class="control-label">New Password</label>
        @Html.TextBoxFor(model => model.NewPassword, new
   {
       @class = "form-control",
       oncopy = "return false",
       onpaste = "return false"
   })
        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger"})
    </div>
    <div class="form-group">
        <label class="control-label">Confirm New Password</label>
        @Html.TextBoxFor(model => model.ConfirmNewPassword, new
   {
       @class = "form-control",
       oncopy = "return false",
       onpaste = "return false"
   })
        @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
    </div>
    
    <div class="margin-top-10">
        <input type="submit" class="btn green" value="Change Password" />

        <a href="#tab_1_1" class="btn default"> Cancel </a>
    </div>
}
