@model ProjectManagement.ViewModels.Commercial.VmSpecification
@using (Html.BeginForm("Specification", "Commercial"))
{
    <div class="col-lg-12">
        @Html.HiddenFor(model => model.ProjectMaster.ProjectMasterId)
        @Html.HiddenFor(model => model.PhMemoryInfo.PhMemoryInfoId)
        @Html.HiddenFor(model => model.TabIdentity, new { @Value = 6 })
        <div class="form-body">
            <h3 class="form-section">Memory Information</h3>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-md-3">Brand Name*</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(i => i.PhMemoryInfo.BrandName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PhMemoryInfo.BrandName, String.Empty, new { @style = "color:red;!important" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-md-3">RAM*</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.PhMemoryInfo.Ram, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PhMemoryInfo.Ram, String.Empty, new { @style = "color:red;!important" })
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-md-3">ROM*</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(i => i.PhMemoryInfo.Rom, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PhMemoryInfo.Rom, String.Empty, new { @style = "color:red;!important" })
                        </div>
                    </div>
                </div>
            
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-6">
                    <div class="col-md-offset-3 col-md-9">
                        @if (Model.PhMemoryInfo.PhMemoryInfoId > 0)
                        {
                            <button class="btn sbold uppercase btn-outline blue">Update</button>
                        }
                        else
                        {
                            <button class="btn sbold uppercase btn-outline green">Save</button>
                        }
                    </div>
                </div>
            </div>
        
        </div>
    </div>
}

