@using System.Web.Mvc.Html
@using ProjectManagement.Infrastructures.Helper
@using ProjectManagement.Models
@model ProjectManagement.ViewModels.Software.VmAllIncentiveList
@{
    ViewBag.Title = "AllIncentiveList";

}

<script src="~/Scripts/moment.js"></script>
<script src="~/Content/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
<link href="~/Content/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
@*datatable *@
<link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<link href="~/assets/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/layouts/layout4/css/themes/light.min.css" rel="stylesheet" type="text/css" id="style_color" />
<link href="~/assets/layouts/layout4/css/custom.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/loadingText.css" rel="stylesheet" />

<div class="note note-success">
    <p style="color: green;font-size: 20px;">All Incentive List For Update  </p>
</div>
@using (@Html.BeginForm("AllIncentiveList", "Software", FormMethod.Post, new { enctype = "multipart/form-data", id = "form1" }))
{
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-picture"></i>Incentive Value
        </div>
    </div>
    <div class="portlet-body" style="display: block;">
        <div class="row">

            <div class="col-sm-1"></div>
            <div class="col-lg-2">
                Select Project Type
            </div>
            <div class="col-lg-8">
                @if (ViewBag.ddlProjectType!=null)
                {
                    <div class="col-lg-9">
                        @Html.DropDownListFor(model => model.ProjectType, new SelectList(ViewBag.ddlProjectType, "Value", "Text"), new { @class = "form-control ddChosen" })

                    </div>
                    <div class="col-lg-3">
                        <input type="button" id="btnForLoad" class="btn sbold uppercase btn-outline blue btnForLoad" value="Load Project" onclick="location.href='@Url.Action("AllIncentiveList", "Software")?projectType=' + $('option:selected', $('#ProjectType')).val()  " />
                    </div>
                }
            </div>
            <div class="col-lg-2"></div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-12">

                <div class="portlet light bordered">
                 
                    <div class="portlet box">
                        <div class="portlet-title">
                            <div class="caption" style="color:brown;">
                                <i class="fa fa-cogs"></i>ALL List
                            </div>

                            <div class="tools" style="background-color:green;">
                                <a title="" data-original-title="" href="javascript:;" class="collapse"> </a>
                                <a title="" data-original-title="" href="#portlet-config" data-toggle="modal" class="config"> </a>
                                <a title="" data-original-title="" href="javascript:;" class="reload"> </a>
                                <a title="" data-original-title="" href="javascript:;" class="remove"> </a>
                            </div>
                        </div>

                        <div class="portlet-body">
                            <div class="table-responsive table-scrollable">
                                <table id="tbl1" class="table table-striped table-bordered table-hover tbl1">
                                    <thead class="flip-content">
                                        <tr>
                                            <th class="text-center"> # </th>
                                            <th style="text-align: center;display:none"> Id </th>

                                            <th style="text-align: center;"> Claiming<br />Field </th>
                                            <th style="text-align: center;"> Regular <br />ClaimArea </th>
                                            <th style="text-align: center;">Project Type</th>
                                            <th style="text-align: center;">BaseAmount </th>
                                            <th style="text-align: center;"> BaseAmount<br/> Edit </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.SwQcAllIncentiveListModels.Any())
                                        {

                                            for (int i = 0; i < Model.SwQcAllIncentiveListModels.Count; i++)
                                            {

                                                <tr style="text-align: center" class="trForRowRv" id="trForRowRv">
                                                    <td class="text-center"></td>
                                                    <td style="display:none;">
                                                        @Html.HiddenFor(x => x.SwQcAllIncentiveListModels[i].Id, new { @class = "incentiveId" })
                                                        @Html.HiddenFor(x => x.SwQcAllIncentiveListModels[i].ClaimingField, new { @class = "ClaimingField" })
                                                        @Html.HiddenFor(x => x.SwQcAllIncentiveListModels[i].RegularClaimArea, new { @class = "RegularClaimArea" })
                                                        @Html.HiddenFor(x => x.SwQcAllIncentiveListModels[i].ProjectType, new { @class = "ProjectType" })
                                                        @Html.HiddenFor(x => x.SwQcAllIncentiveListModels[i].BaseAmount, new { @class = "BaseAmount" })
                                                        @Html.HiddenFor(x => x.SwQcAllIncentiveListModels[i].Timeline, new { @class = "Timeline" })
                                                        @Html.HiddenFor(x => x.SwQcAllIncentiveListModels[i].Percentage, new { @class = "Percentage" })
                                                        @Html.HiddenFor(x => x.SwQcAllIncentiveListModels[i].Updated, new { @class = "Updated" })
                                                        @Html.HiddenFor(x => x.SwQcAllIncentiveListModels[i].UpdatedDate, new { @class = "UpdatedDate" })
                                                 
                                                     </td>
                                                    <td>@Model.SwQcAllIncentiveListModels[i].ClaimingField</td>
                                                    <td>@Model.SwQcAllIncentiveListModels[i].RegularClaimArea</td>
                                                    <td>@Model.SwQcAllIncentiveListModels[i].ProjectType</td>
                                                    <td>@Model.SwQcAllIncentiveListModels[i].BaseAmount</td><td>
                                                        @Html.TextBoxFor(x => x.SwQcAllIncentiveListModels[i].BaseAmount1, new { @class = "form-control BaseAmount1", Type="int" })
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-actions">
            <div class="col-lg-12">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    @*<button id="btnUpdate" type="submit" class="btn blue">UPDATE</button>*@
                    <button type="submit" class="btn btn-success btnUpdate" id="btnUpdate">
                        <span class="glyphicon glyphicon-edit"></span> UPDATE
                    </button>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
        <br/>
    </div>
</div>
}
<script>
    $(function() {
        $('#tbl1 tr').each(function (index) {
            $(this).find('td:nth-child(1)').html(index++);
        });

        $('#btnSubmit').click(function(e) {
            e.preventDefault();
            $('#form1').trigger('submit');
        });
    });
</script>