@using System.Web.Mvc.Html
@using ProjectManagement.Infrastructures.Helper
@using ProjectManagement.Models
@model ProjectManagement.ViewModels.Software.VmSwQcSpecificationModified
@{
    ViewBag.Title = "SwQcsTotalIssueDetails";

}
<script src="~/Scripts/moment.js"></script>
<script src="~/Content/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
<link href="~/Content/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
@*datatable *@
<link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<link href="~/assets/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/layouts/layout4/css/themes/light.min.css" rel="stylesheet" type="text/css" id="style_color" />
<link href="~/assets/layouts/layout4/css/custom.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/loadingText.css" rel="stylesheet" />

<style>
    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        padding: 10px;
    }
    .page-header-fixed .page-container {
        margin-top: 0px;
    }

    .navbar-fixed-top {
        position: relative;
    }
    #loading {
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        position: fixed;
        display: block;
        opacity: 0.7;
        background-color: #fff;
        z-index: 999;
        text-align: center;
    }
    #addmore {
        position: fixed;
        bottom: 200px;
        left: 10px;
    }
    #addmore1 {
        position: fixed;
        bottom: 200px;
        left: 10px;
    }
</style>

<div class="note note-success">
    <p style="color: green;font-size: 20px;"> Raise Issues </p>
</div>

@using (@Html.BeginForm("SwQcsTotalIssueDetails", "Software", FormMethod.Post, new { enctype = "multipart/form-data", id = "form1" }))
{

    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-picture"></i>Project select & Assign
            </div>
        </div>
        <div class="portlet-body" style="display: block;">
            <div class="row">

                <div class="col-sm-1"></div>
                <div class="col-lg-2">
                    Select Project
                </div>
                <div class="col-lg-8">
                    @if (Model != null && Model.ProjectMasterModelsList.Any())
                    {

                        <div class="col-lg-9">

                            @Html.DropDownListFor(model => model.CombinedProjectId, new SelectList(ViewBag.CombinedIds, "Value", "Text"), new { @class = "form-control ddChosen" })

                        </div>
                        <div class="col-lg-3">
                            <input type="button" id="btnforname" class="btn sbold uppercase btn-outline blue" value="Load Project" onclick="location.href='@Url.Action("SwQcsTotalIssueDetails", "Software")?projectId=' + $('option:selected', $('#CombinedProjectId')).val()  " />
                        </div>
                    }


                </div>
                <div class="col-lg-2"></div>
            </div>
            <br /><br /><br />
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <input type="button" id="btnforFinalSubmit" class="btn sbold uppercase btn-outline red" value="Do you want to submit finally?" />
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>

    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Project Details
            </div>
            <div class="tools">
                <a title="" data-original-title="" href="javascript:;" class="collapse"> </a>
                <a title="" data-original-title="" href="#portlet-config" data-toggle="modal" class="config"> </a>
                <a title="" data-original-title="" href="javascript:;" class="reload"> </a>
                <a title="" data-original-title="" href="javascript:;" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable table-responsive">
                <table id="tbl22" class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content note note-success">
                        <tr>
                            <th style="text-align: center;">Project Name </th>
                            <th style="text-align: center;">Software<br />Version<br /> Name </th>
                            <th style="text-align: center;">Software <br />Version<br /> No. </th>
                            <th style="text-align: center;">Test Phase </th>
                            <th style="text-align: center;">Assign Time </th>
                            <th style="text-align: center;">Assign Com. </th>
                            <th style="text-align: center;">Deadline </th>
                            <th style="text-align: center;">OS Version </th>
                            <th style="text-align: center;">Back Camera </th>
                            <th style="text-align: center;">Front Camera </th>
                            <th style="text-align: center;">RAM </th>
                            <th style="text-align: center;">ROM </th>
                            <th style="text-align: center;">Battery </th>
                            <th style="text-align: center;">Chipset </th>
                            <th style="text-align: center;">Display<br /> Name </th>
                            <th style="text-align: center;">Display<br />Size </th>
                            <th style="text-align: center;">Number Of<br />Sample </th>
                            <th style="text-align: center;">Processor<br />Name </th>
                            <th style="text-align: center;">Processor<br />Clock </th>
                        </tr>
                    </thead>
                    <tbody class="proDetails">
                        @if (Model != null && Model.ProjectDetailsForSwQcModels.Any())
                        {
                            for (int i = 0; i < Model.ProjectDetailsForSwQcModels.Count; i++)
                            {
                                <tr style="text-align: center">
                                    <td>@Html.DisplayFor(x => x.ProjectDetailsForSwQcModels[i].ProjectName)</td>
                                    <td>@Html.DisplayFor(x => x.ProjectDetailsForSwQcModels[i].SoftwareVersionName)</td>
                                    <td>@Html.DisplayFor(x => x.ProjectDetailsForSwQcModels[i].SoftwareVersionNo)</td>
                                    <td>@Html.DisplayFor(x => x.ProjectDetailsForSwQcModels[i].TestPhaseName)</td>
                                    <td>@Html.DisplayFor(x => x.ProjectDetailsForSwQcModels[i].SwQcHeadToQcAssignTime)</td>
                                    <td>@Html.DisplayFor(x => x.ProjectDetailsForSwQcModels[i].SwQcHeadToQcAssignComment)</td>
                                    <td>
                                        @Html.DisplayFor(x => x.ProjectDetailsForSwQcModels[i].ApproxInchargeToQcDeliveryDate)
                                    </td>
                                    <td>@Html.DisplayFor(x => x.ProjectDetailsForSwQcModels[i].OsVersion)</td>
                                    <td>@Html.DisplayFor(x => x.ProjectDetailsForSwQcModels[i].BackCamera)</td>
                                    <td>@Html.DisplayFor(x => x.ProjectDetailsForSwQcModels[i].FrontCamera)</td>
                                    <td>@Html.DisplayFor(x => x.ProjectDetailsForSwQcModels[i].Ram)</td>
                                    <td>@Html.DisplayFor(x => x.ProjectDetailsForSwQcModels[i].Rom)</td>
                                    <td>@Html.DisplayFor(x => x.ProjectDetailsForSwQcModels[i].Battery)</td>
                                    <td>@Html.DisplayFor(x => x.ProjectDetailsForSwQcModels[i].Chipset)</td>
                                    <td>@Html.DisplayFor(x => x.ProjectDetailsForSwQcModels[i].DisplayName)</td>
                                    <td>@Html.DisplayFor(x => x.ProjectDetailsForSwQcModels[i].DisplaySize)</td>
                                    <td>@Html.DisplayFor(x => x.ProjectDetailsForSwQcModels[i].NumberOfSample)</td>
                                    <td>@Html.DisplayFor(x => x.ProjectDetailsForSwQcModels[i].ProcessorName)</td>
                                    <td>@Html.DisplayFor(x => x.ProjectDetailsForSwQcModels[i].ProcessorClock)</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption" style="color: brown;">
                        <span class="caption-subject #569450 sbold uppercase"> All Project Wise Added Issues</span>

                    </div>
                </div>
                <div class="portlet box">
                    <div class="portlet-title">
                        <div class="caption" style="color:brown;">
                            <i class="fa fa-cogs"></i>ALL Issues
                        </div>

                        <div class="tools" style="background-color:green;">
                            <a title="" data-original-title="" href="javascript:;" class="collapse"> </a>
                            <a title="" data-original-title="" href="#portlet-config" data-toggle="modal" class="config"> </a>
                            <a title="" data-original-title="" href="javascript:;" class="reload"> </a>
                            <a title="" data-original-title="" href="javascript:;" class="remove"> </a>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="table-responsive table-scrollable">
                            <table id="tbl33" class="table table-striped table-bordered table-hover tbl33">
                                <thead class="flip-content">
                                    <tr>
                                        <th class="text-center"> Issue<br/>Sr. </th>
                                        <th style="text-align: center;display:none"> ProjectId </th>
                                        <th style="text-align: center;display:none"> SwQcIssueIde </th>
                                        <th style="text-align: center;"> File Or<br />Issue </th>
                                        <th style="text-align: center;"> Issue <br />Scenario </th>
                                        <th style="text-align: center;"> Expected<br /> Outcome </th>
                                        <th style="text-align: center;"> Issue <br />Details </th>
                                        <th style="text-align: center;"> Result </th>
                                        <th style="text-align: center;"> Refernce<br />Module</th>
                                        <th style="text-align: center;"> Frequency </th>
                                        <th style="text-align: center;"> Issue <br />Reproduce<br /> Path </th>
                                        <th style="text-align: center;">Attachment </th>
                                        <th style="text-align: center;">Issue<br /> Type </th>
                                        <th style="text-align: center;">URL </th>
                                        <th style="text-align: center;">File<br /> Details </th>
                                        <th style="text-align: center;">Upload </th>
                                        <th style="text-align: center;">Delete </th>
                                        <th style="text-align: center;">Edit </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.SwQcIssueDetailModels.Any())
                                    {

                                        for (int i = 0; i < Model.SwQcIssueDetailModels.Count; i++)
                                        {
                                            if (Model.SwQcIssueDetailModels[i].ProjectMasterId > 0 && Model.SwQcIssueDetailModels[i].SwQcAssignId > 0)
                                            {
                                                <tr style="text-align: center" class="trForRowRv" id="trForRowRv">
                                                    <td class="text-center">@Html.DisplayFor(x => x.SwQcIssueDetailModels[i].IssueSerial)</td>
                                                    @Html.HiddenFor(x => x.SwQcIssueDetailModels[i].ProjectMasterId, new { @class = "ProjectMasterId" })
                                                    @Html.HiddenFor(x => x.SwQcIssueDetailModels[i].SwQcAssignId, new { @class = "SwQcAssignId" })
                                                    @Html.HiddenFor(x => x.SwQcIssueDetailModels[i].SwQcHeadAssignId, new { @class = "SwQcHeadAssignId" })
                                                    @Html.HiddenFor(x => x.SwQcIssueDetailModels[i].SwQcIssueId, new { @class = "SwQcIssueId" })
                                                    @Html.HiddenFor(model => model.SwQcIssueDetailModels[i].UploadedFile, new { @class = "clsRmv" })

                                                    <td style="display:none;">@Html.DisplayFor(x => x.SwQcIssueDetailModels[i].ProjectMasterId)</td>
                                                    <td style="display:none;">@Html.DisplayFor(x => x.SwQcIssueDetailModels[i].SwQcIssueId)</td>

                                                    <td>@Html.DisplayFor(x => x.SwQcIssueDetailModels[i].FileOrIssue)</td>
                                                    <td>@Html.DisplayFor(x => x.SwQcIssueDetailModels[i].IssueScenario)</td>
                                                    <td>@Html.DisplayFor(x => x.SwQcIssueDetailModels[i].ExpectedOutcome)</td>
                                                    <td>@Html.DisplayFor(x => x.SwQcIssueDetailModels[i].IssueDetails)</td>
                                                    <td>@Html.DisplayFor(x => x.SwQcIssueDetailModels[i].Result)</td>
                                                    <td>@Html.DisplayFor(x => x.SwQcIssueDetailModels[i].RefernceModule)</td>
                                                    <td>@Html.DisplayFor(x => x.SwQcIssueDetailModels[i].Frequency)</td>
                                                    <td>@Html.DisplayFor(x => x.SwQcIssueDetailModels[i].IssueReproducePath)</td>
                                                    <td>@Html.DisplayFor(x => x.SwQcIssueDetailModels[i].Attachment)</td>
                                                    <td>@Html.DisplayFor(x => x.SwQcIssueDetailModels[i].IssueType)</td>
                                                    <td>@Html.DisplayFor(x => x.SwQcIssueDetailModels[i].FilesUrl)</td>
                                                    <td>@Html.DisplayFor(x => x.SwQcIssueDetailModels[i].FilesDetail)</td>
                                                    @*<td>
                                                            <div class="col-md-8">
                                                                @if (Model.SwQcIssueDetailModels[i].UploadedFileGetUrl1 != null && Model.SwQcIssueDetailModels[i].UploadedFileGetUrl1.Any())
                                                                {
                                                                    for (int m = 0; m < Model.SwQcIssueDetailModels[i].UploadedFileGetUrl1.Count; m++)
                                                                    {
                                                                        if (Model.SwQcIssueDetailModels[i].UploadedFileGetUrl1[m].Length != 0)
                                                                        {
                                                                            @Html.TextBoxFor(model => model.SwQcIssueDetailModels[i].UploadedFileGetUrl1[m], new { @class = "txtForList", @disabled = "disabled" })
                                                                            <br />

                                                                        }
                                                                    }
                                                                }

                                                            </div>
                                                        </td>*@
                                                    <td>
                                                        <div class="file-preview-thumbnails">
                                                            <div class="">
                                                                <div class="file-preview-frame file-preview-initial" id="preview-1475130072371-init_0" data-fileindex="init_0" data-template="image">
                                                                    <div class="col-lg-12">
                                                                        @Html.HiddenFor(model => model.SwQcIssueDetailModels[i].Upload, new { @class = "clsRmv" })
                                                                        @Html.HiddenFor(model => model.SwQcIssueDetailModels[i].UploadedFile, new { @class = "clsRmv" })
                                                                        @if (Model.SwQcIssueDetailModels[i].FilesDetails != null && Model.SwQcIssueDetailModels[i].FilesDetails.Any())
                                                                        {
                                                                            for (int m = 0; m < Model.SwQcIssueDetailModels[i].FilesDetails.Count; m++)
                                                                            {
                                                                                if (Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".jpg" || Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".png" || Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".mp4" || Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".jpeg" || Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".txt" || Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".xls" || Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".wav")
                                                                                {

                                                                                    <div class="col-lg-3">

                                                                                        <embed class="" src="@Model.SwQcIssueDetailModels[i].FilesDetails[m].FilePath" style="width: 100px;height: 100px" />
                                                                                        <br />
                                                                                        <a target="_blank" href="@Model.SwQcIssueDetailModels[i].FilesDetails[m].FilePath">Download</a>

                                                                                    </div>

                                                                                    <div class="col-lg-3" style="width: 50px;"></div>

                                                                                }
                                                                                if (Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".zip" || Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".pdf" || Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".docx" || Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".xlsx" || Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".rar" || Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".pptx")
                                                                                {
                                                                                    var urls = Model.SwQcIssueDetailModels[i].FilesDetails[m].FilePath.Split('|').ToList();

                                                                                    for (int k = 0; k < urls.Count; k++)
                                                                                    {
                                                                                        var last = urls[k].Split('-').Last();
                                                                                        var lastNameForM = Model.SwQcIssueDetailModels[i].FilesDetails[m].FilePath;

                                                                                        lastNameForM = Path.GetFileName(last);

                                                                                        <div class="col-lg-3" style="width: 100px; height: 100px;">

                                                                                            @Html.TextAreaFor(model => lastNameForM, new { style = "width:100px;height:100px;", disabled = "disabled" })

                                                                                            <br />

                                                                                            <a href="@Model.SwQcIssueDetailModels[i].FilesDetails[m].FilePath" target="_blank">Download</a>

                                                                                        </div>

                                                                                        <div class="col-lg-3" style="width: 50px;"></div>

                                                                                    }
                                                                                }

                                                                            }
                                                                        }

                                                                    </div>


                                                                </div>

                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <button type="submit" style="width:120px" class="btn btn-danger removeBtns" id="removeBtns">
                                                            <span class="glyphicon glyphicon-remove"></span> DELETE
                                                        </button>
                                                    </td>
                                                    @*<td>
                                                            <div class="col-lg-12">
                                                                <button type="submit" style="width:80px" class="btn btn-success btn-sm btn-circle editIssueBtns" id="editIssueBtns"> EDIT</button>
                                                            </div>
                                                        </td>*@
                                                    <td class="text-center">
                                                        <button type="button" class="btn btn-success btnOpenModal">
                                                            <span class="glyphicon glyphicon-edit"></span> EDIT
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Add More Issues
            </div>
            <div class="tools">
                <a title="" data-original-title="" href="javascript:;" class="collapse"> </a>
                <a title="" data-original-title="" href="#portlet-config" data-toggle="modal" class="config"> </a>
                <a title="" data-original-title="" href="javascript:;" class="reload"> </a>
                <a title="" data-original-title="" href="javascript:;" class="remove"> </a>
            </div>
        </div>

        <div class="portlet-body">
            <div class="col-lg-12">
                <div class="col-lg-4"></div>
                <div class="col-lg-2">
                    <div class="col-lg-5" style="text-align: right">
                        <input type="checkbox" id="forIssues" class="forIssues" name="issues" value="issues_CheckBx">
                    </div>
                    <div class="col-lg-7" style="text-align: left;font-weight: bold">
                        Issue
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="col-lg-5" style="text-align: right">
                        <input type="checkbox" id="forAllFiles" class="forAllFiles" name="filess" value="filess_CheckBx">
                    </div>
                    <div class="col-lg-7" style="text-align: left;font-weight: bold;">
                        File
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
            <br />
            <br /><br />
            <div class="table-scrollable table-responsive">
                <table id="tbl" class="table table-bordered table-striped table-condensed flip-content" style="display: block;">
                    <thead class="flip-content">
                        <tr>
                            <th style="display: none;">Index</th>
                            <th style="display: none;">IsRemoved</th>
                            <th class="numeric"><button class="btn btn-circle btn-success" id="addmore"><span class="glyphicon glyphicon-plus"></span>Add More</button></th>
                            <th> Issue Scenario </th>
                            <th> Expected Outcome </th>
                            <th style="text-align: center;"> Issue Details </th>
                            <th class="numeric"> Result</th>
                            <th class="numeric"> ReferenceModule </th>
                            <th class="numeric"> Frequency </th>
                            <th class="numeric"> Issue Reproduce Path </th>
                            <th class="numeric"> Attachment </th>
                            <th class="numeric"> Issue Type </th>
                            <th class="numeric"> URL </th>
                            <th class="numeric"> File Details </th>
                            <th class="numeric"> Upload </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tableTrCls1" id="trIdForUpload">
                            <td style="display: none;">0</td>
                            <td style="display: none;"><input type="text" name="issueList[0].IsRemoved" class="IsRemoved form-control input-small" value="0" /></td>
                            <td class="numeric">
                                <button class="btn btn-circle btn-danger removeBtn">Remove</button>
                            </td>
                            <td>
                                <div class="form-group">
                                    <textarea name="issueList[0].IssueScenario" id="IssueScenario" class="form-control input-small" rows="4" placeholder="Issue name"></textarea>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <textarea name="issueList[0].ExpectedOutcome" class="form-control input-small" rows="4" placeholder="Expected Outcome"></textarea>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <textarea name="issueList[0].IssueDetails" class="form-control input-small" rows="4" placeholder="Add Comment"></textarea>
                                </div>
                            </td>
                            <td class="numeric">
                                <select name="issueList[0].Result" class="form-control input-small">
                                    <option value="">SELECT</option>
                                    <option>DONE</option>
                                    <option>ISSUE</option>
                                    <option>NOT APPLICABLE</option>
                                </select>
                            </td>
                            <td class="numeric">
                                @*<select name="issueList[0].RefernceModule" id="RefernceModule" class="form-control input-small RefernceModule"></select>*@
                                <select name="issueList[0].RefernceModule" id="RefernceModule" class="form-control input-small RefernceModule"></select>
                            </td>

                            <td class="numeric">
                                <select name="issueList[0].Frequency" class="form-control input-small">
                                    <option value="">SELECT</option>
                                    <option>ALWAYS</option>
                                    <option>SOMETIMES</option>
                                    <option>RARE</option>
                                </select>
                            </td>
                            <td class="numeric">
                                <div class="form-group">
                                    <textarea name="issueList[0].IssueReproducePath" class="form-control input-small" rows="4" placeholder="Add Reproduce Path"></textarea>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <textarea name="issueList[0].Attachment" class="form-control input-small" rows="4" placeholder="Add Attachment"></textarea>
                                </div>
                            </td>

                            <td class="numeric">
                                <select name="issueList[0].IssueType" class="form-control input-small">
                                    <option value="">SELECT</option>
                                    <option>MINOR</option>
                                    <option>MAJOR</option>
                                    <option>CRITICAL</option>
                                </select>
                            </td>
                            <td>
                                <div class="form-group">
                                    <textarea name="issueList[0].FilesUrl" class="form-control input-small" rows="4" placeholder="Add URL"></textarea>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <textarea name="issueList[0].FilesDetail" class="form-control input-small" rows="4" placeholder="Files Detail"></textarea>
                                </div>
                            </td>
                            <td class="numeric">
                                <div class="col-md-11">
                                    <table class="File11" id="hh1">
                                        <tr id="trIdForFile">
                                            <td class="filesss" id="filesId">

                                                <div class="col-md-9" id="fileIdForCr">
                                                    <input type="file" name="issueList[0].File" id="File11" />
                                                </div>
                                                <div class="col-md-2">
                                                    <button type="button" id="removeProductRow" class="btn btn-circle btn-danger" onclick="removeDetailRow($(this).closest('tr'));">
                                                        <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                                    </button>
                                                </div>
                                                <br /><br />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-8">
                                    <div class="col-md-2">

                                        <button type="button" id="upPlusBt" class="btn btn-group-circle btn-success center" onclick="javascript: addField('issueList[0].File', $(this).closest('tr'));">
                                            <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                                        </button><br /><br />
                                    </div>
                                    <div class="col-md-6"></div>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-scrollable table-responsive">
                <table id="tblForFile" class="table table-bordered table-striped table-condensed flip-content" style="display: block;">
                    <thead class="flip-content">
                        <tr>
                            <th style="display: none;">Index</th>
                            <th style="display: none;">IsRemoved</th>
                            <th class="numeric"><button class="btn btn-circle btn-success" id="addmore1"><span class="glyphicon glyphicon-plus"></span>Add More</button></th>
                            <th> File </th>
                            <th class="numeric"> RefernceModule </th>
                            <th class="numeric"> Attachment </th>
                            <th class="numeric"> URL </th>
                            <th class="numeric"> File Details </th>
                            <th class="numeric"> Upload </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tableTrCls1" id="trIdForUpload">
                            <td style="display: none;">0</td>
                            <td style="display: none;"><input type="text" name="issueList1[0].IsRemoved" class="IsRemoved form-control input-small" value="0" /></td>
                            <td class="numeric">
                                <button class="btn btn-circle btn-danger removeBtn">Remove</button>
                            </td>
                            <td>
                                <div class="form-group">
                                    <textarea name="issueList1[0].IssueScenario" id="IssueScenario1" class="form-control input-small" rows="4" placeholder="All Files"></textarea>
                                </div>
                            </td>
                            <td class="numeric">
                                <select name="issueList1[0].RefernceModules" id="RefernceModules" class="form-control input-small RefernceModules" multiple="multiple"></select>
                            </td>
                            <td>
                                <div class="form-group">
                                    <textarea name="issueList1[0].Attachment" class="form-control input-small" rows="4" placeholder="Add Attachment"></textarea>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <textarea name="issueList1[0].FilesUrl" class="form-control input-small" rows="4" placeholder="Add URL"></textarea>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <textarea name="issueList1[0].FilesDetail" class="form-control input-small" rows="4" placeholder="Files Detail"></textarea>
                                </div>
                            </td>
                            <td class="numeric">
                                <div class="col-md-11">
                                    <table class="File11" id="hh1">
                                        <tr id="trIdForFile">
                                            <td class="filesss" id="filesId">

                                                <div class="col-md-9" id="fileIdForCr">
                                                    <input type="file" name="issueList1[0].File" id="File11" />
                                                </div>
                                                <div class="col-md-2">
                                                    <button type="button" id="removeProductRow" class="btn btn-circle btn-danger" onclick="removeDetailRow($(this).closest('tr'));">
                                                        <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                                    </button>
                                                </div>
                                                <br /><br />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-8">
                                    <div class="col-md-2">

                                        <button type="button" id="upPlusBt" class="btn btn-group-circle btn-success center" onclick="javascript: addField('issueList1[0].File', $(this).closest('tr'));">
                                            <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                                        </button><br /><br />
                                    </div>
                                    <div class="col-md-6"></div>
                                </div>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div>
            <input type="text" name="pro_id" id="pro_id" value="" style="display:none;" />
            <input type="text" name="swQcIncharge_id" id="swQcIncharge_id" value="" style="display:none;" />
            <input type="text" name="swQcAssign_id" id="swQcAssign_id" value="" style="display:none;" />
            <input type="text" name="issueChk" id="issueChk" value="" style="display:none;" />
            <input type="text" name="fileChk" id="fileChk" value="" style="display:none;" />
        </div>
        <div>
            <input type="text" name="pro_id1" id="pro_id1" value="" style="display:none;" />
            <input type="text" name="swQcIncharge_id1" id="swQcIncharge_id1" value="" style="display:none;" />
            <input type="text" name="swQcAssign_id1" id="swQcAssign_id1" value="" style="display:none;" />
            <input type="text" name="issueChk1" id="issueChk1" value="" style="display:none;" />
            <input type="text" name="fileChk1" id="fileChk1" value="" style="display:none;" />
        </div>
    </div>

    <div id="loading" style="display: none;text-align: center;">
        <img src="~/img/loading-spinner-grey.gif" />
    </div>

    <div class="form-actions">
        <button id="btnSubmit" type="submit" class="btn blue">Submit</button>
        @*<a href="@Url.Action("notyet")" class="btn default">Cancel</a>*@
    </div>
}

@*//modal*@
<div class="modal fade " id="draggable" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" style="font-weight: bold;color: black;">Edit An Issue</h4>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group" style="display: none">
                        <label class="control-label">Project ID :</label>
                        <input name="ProjectMasterId6" id="ProjectMasterId6" type="text" class="form-control">
                    </div>
                    <div class="form-group" style="display: none">
                        <label class="control-label">SwQcIssueId</label>
                        <input name="SwQcIssueId6" id="SwQcIssueId6" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Issue Scenario :</label>
                        <textarea name="IssueScenario6" id="IssueScenario6" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Expected Outcome :</label>
                        <textarea name="ExpectedOutcome6" id="ExpectedOutcome6" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="single" class="control-label">Result :</label>
                        <select name="single" id="singleResult6" class="form-control" style="width: 50%">
                            <option value="0">SELECT</option>
                            <option value="DONE">DONE</option>
                            <option value="ISSUE">ISSUE</option>
                            <option value="NOT APPLICABLE">NOT APPLICABLE</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="single" class="control-label">ReferenceModule :</label>
                        <select name="referenceModuleId" id="referenceModuleId6" class="form-control ">
                            @if (ViewBag.ddlReferenceListForModal != null)
                            {
                                foreach (var item in ViewBag.ddlReferenceListForModal)
                                {
                                    <option value="@item.Value">
                                        @item.Text
                                    </option>
                                }
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="single" class="control-label">Frequency :</label>
                        <select name="single" id="frequencyId6" class="form-control ">
                            <option value="0">SELECT</option>
                            <option value="ALWAYS">ALWAYS</option>
                            <option value="SOMETIMES">SOMETIMES</option>
                            <option value="RARE">RARE</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Issue Reproduce Path :</label>
                        <textarea name="IssueReproducePathId" id="IssueReproducePathId6" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Attachment :</label>
                        <textarea name="AttachmentId" id="AttachmentId6" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="single" class="control-label">Issue Type :</label>
                        <select name="single" id="issueTypeId6" class="form-control ">
                            <option value="0">SELECT</option>
                            <option value="MINOR">MINOR</option>
                            <option value="MAJOR">MAJOR</option>
                            <option value="CRITICAL">CRITICAL</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">URL :</label>
                        <textarea name="FilesUrlId" id="FilesUrlId6" class="form-control"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <input type="submit" id="smitModalOfSave" class="btn green smitModalOfSave" value="Save changes" />
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<script>
    //$('#addmore').BringToFront();
    $(function () {
        var currentRow;

        //$('.btnOpenModal').on('click', function (e) {
        //    e.preventDefault();
        $("body").on("click", "#tbl33 .btnOpenModal", function () {
            var rowIndex = $(this).closest('tr').index() + 1;
            var table = document.getElementById('tbl33');


            var projectId = $.trim(table.rows[rowIndex].cells[1].innerHTML);
            var swQcIssueId = $.trim(table.rows[rowIndex].cells[2].innerHTML);
            var issueScenario = $.trim(table.rows[rowIndex].cells[4].innerHTML);
            var expectedOutcome = $.trim(table.rows[rowIndex].cells[5].innerHTML);
            var result = $.trim(table.rows[rowIndex].cells[7].innerHTML);
            var referenceModuleId = $.trim(table.rows[rowIndex].cells[8].innerHTML);
            var frequency = $.trim(table.rows[rowIndex].cells[9].innerHTML);
            var IssueReproducePathId = $.trim(table.rows[rowIndex].cells[10].innerHTML);
            var AttachmentId6 = $.trim(table.rows[rowIndex].cells[11].innerHTML);
            var issueTypeId6 = $.trim(table.rows[rowIndex].cells[12].innerHTML);
            var FilesUrlId6 = $.trim(table.rows[rowIndex].cells[13].innerHTML);

            $('#draggable').modal();

            $('#ProjectMasterId6').val(projectId);
            $('#IssueScenario6').val(issueScenario);
            $('#SwQcIssueId6').val(swQcIssueId);
            $('#ExpectedOutcome6').val(expectedOutcome);
            $('#singleResult6').val(result);
            $('#referenceModuleId6').val(referenceModuleId);
            $('#frequencyId6').val(frequency);
            $('#IssueReproducePathId6').val(IssueReproducePathId);
            $('#AttachmentId6').val(AttachmentId6);
            $('#issueTypeId6').val(issueTypeId6);
            $('#FilesUrlId6').val(FilesUrlId6);

            currentRow = $(this).closest('tr');

            console.log("issueScenario  :" + issueScenario);
            console.log("projectId  :" + projectId);
            console.log("swQcIssueId  :" + swQcIssueId);
            //console.log("swQcInchargeAssignId  :" + swQcInchargeAssignId);
        });
        //ed
        $('.smitModalOfSave').on('click', function () {

            $('#draggable').modal('hide');

            var ProjectMasterId6;
            var SwQcIssueId6;
            var IssueScenario6;
            var ExpectedOutcome6;
            var singleResult6;
            var referenceModuleId6;
            var IssueReproducePathId6;
            var AttachmentId6;
            var issueTypeId6;
            var FilesUrlId6;
            var Frequency6;

            var obj = {};

            //var rowIndex = $(this).closest('tr').index() + 1;
            //var table = document.getElementById('tbl33');


            ProjectMasterId6 = $('#ProjectMasterId6').val();
            SwQcIssueId6 = $('#SwQcIssueId6').val();
            IssueScenario6 = $('#IssueScenario6').val();
            ExpectedOutcome6 = $('#ExpectedOutcome6').val();
            singleResult6 = $('#singleResult6').val();
            referenceModuleId6 = $('#referenceModuleId6').val();
            IssueReproducePathId6 = $('#IssueReproducePathId6').val();
            AttachmentId6 = $('#AttachmentId6').val();
            issueTypeId6 = $('#issueTypeId6').val();
            FilesUrlId6 = $('#FilesUrlId6').val();
            Frequency6 = $('#frequencyId6').val();

            if (singleResult6 == "0" || singleResult6 == null) {
                $('#draggable').modal('hide');
                $('#loading').hide();
                alertify.dialog('alert').set({
                    'title': '   ',
                    'transition': 'zoom',
                    'message': "Please must Select Result.",
                }).show();
                return false;
            }
            if (issueTypeId6 == "0" || issueTypeId6 == null) {
                $('#draggable').modal('hide');
                $('#loading').hide();
                alertify.dialog('alert').set({
                    'title': '   ',
                    'transition': 'zoom',
                    'message': "Please must Select Issue Type.",
                }).show();
                return false;
            }

            $('#loading').show();
            obj.ProjectMasterId = ProjectMasterId6;
            obj.SwQcIssueId = SwQcIssueId6;
            obj.IssueScenario = IssueScenario6;
            obj.ExpectedOutcome = ExpectedOutcome6;
            obj.Result = singleResult6;
            obj.RefernceModule = referenceModuleId6;
            obj.IssueReproducePath = IssueReproducePathId6;
            obj.Attachment = AttachmentId6;
            obj.IssueType = issueTypeId6;
            obj.FilesUrl = FilesUrlId6;
            obj.Frequency = Frequency6;
            $.ajax({
                url: '@Url.Action("EditSwQcIssueDetails", "Software")',
                type: 'POST',
                data: JSON.stringify(obj),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    console.log("data :" + data);
                    if (data == "OK") {
                        // window.location = '@Url.Action("SwQcsTotalIssueDetails", "Software")';
                        //window.location.reload(true);
                        $('#loading').hide();
                    }
                }
            });

            event.preventDefault(); //Prevent the default submit
        });
    });

    //$('#tbl33').DataTable({
    //    "scrollX": true,
    //    "scrollY": 340,
    //    "paging": true,
    //    "lengthMenu": [[3, 5, 10, 20, 30, 50, -1], [3, 5, 10, 20, 30, 50, "All"]],
    //});


    $(document).ready(function () {
        var t = $('#tbl33').DataTable({
            "columnDefs": [{
                "searchable": false,
                "orderable": true,
                "targets": 0
            }],
            "lengthMenu": [[3, 5, 10, 20, 30, 50, -1], [3, 5, 10, 20, 30, 50, "All"]],
            // "scrollY": 340,
            // "scrollX": true,
            "order": [[1, 'desc']]
        });
        //t.on('order.dt search.dt', function () {
        //    t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
        //        cell.innerHTML = i + 1;
        //    });
        //}).draw();
    });

    function addField(id, td) {
        td.find('.File11').append($("<tr id='trIdForFile'><td class='filesss' id='filesId'><div class='col-md-9' id='fileIdForCr'><input type='file' name='" + id + "' id='File11' /></div> <div class='col-md-2'><button type='button' id='removeProductRow' class='btn btn-circle btn-danger' onclick=removeDetailRow($(this).closest('tr'));> <span><i class='fa fa-times' aria-hidden='true'></i></span></button></div><br /><br /></td></tr>"));
    }

    function removeDetailRow(element) {
        $(element).remove();
    }
    var issueChk = false;
    var fileChk = false;

    $(document).ready(function () {

        ///new//
        $("#forIssues").on('change', function () {
            if ($(this).is(':checked')) {
                $(this).attr('value', 'true');
                document.getElementById('tbl').style.display = "table";
                document.getElementById('tblForFile').style.display = "none";

                $("#forAllFiles").attr('value', 'false');
                $("#forAllFiles").prop("checked", false);

            }
            else {
                $(this).attr('value', 'false');
                document.getElementById('tbl').style.display = "none";
            }
            issueChk = $('#forIssues').val();
            console.log("issueChk :" + issueChk);
        });

        if ($("#forIssues").is(':checked')) {
            $("#forIssues").attr('value', 'true');
            $("#forIssues").prop("checked", true);
            document.getElementById('tbl').style.display = "table";

        } else {
            $("#forIssues").attr('value', 'false');
            $("#forIssues").prop("checked", false);
            document.getElementById('tbl').style.display = "none";
        }
        issueChk = $('#forIssues').val();
        console.log("issueChk :" + issueChk);

        /////

        $("#forAllFiles").on('change', function () {
            if ($(this).is(':checked')) {
                $(this).attr('value', 'true');
                document.getElementById('tblForFile').style.display = "table";
                document.getElementById('tbl').style.display = "none";

                $("#forIssues").attr('value', 'false');
                $("#forIssues").prop("checked", false);
            }
            else {
                $(this).attr('value', 'false');
                document.getElementById('tblForFile').style.display = "none";
            }
            fileChk = $('#forAllFiles').val();
            console.log("fileChk :" + fileChk);
        });

        if ($("#forAllFiles").is(':checked')) {
            $("#forAllFiles").attr('value', 'true');
            $("#forAllFiles").prop("checked", true);
            document.getElementById('tblForFile').style.display = "table";

        } else {
            $("#forAllFiles").attr('value', 'false');
            $("#forAllFiles").prop("checked", false);
            document.getElementById('tblForFile').style.display = "none";
        }
        fileChk = $('#forAllFiles').val();
        console.log("fileChk :" + fileChk);

        //end new///

        $('#btnforFinalSubmit').on('click', function () {
            var proSelectId = document.getElementById('CombinedProjectId');
            console.log(proSelectId);
            var selecteddropText = proSelectId.options[proSelectId.selectedIndex].text;
            var selecteddropValue = proSelectId.options[proSelectId.selectedIndex].value;
            console.log(selecteddropText);
            console.log(selecteddropValue);
            if (selecteddropText == "Select One") {
                alertify.dialog('alert').set({
                    'title': '   ',
                    'transition': 'zoom',
                    'message': "Please select Project must",
                }).show();
                return false;
            }
            var obj = [];
            obj.projectMasterId = $("select#CombinedProjectId").val();

            alertify.confirm('Confirm message', 'Do you want to finally submit this project to QcHead?', function () {
                alertify.success('Ok');
                $('#loading').show();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SaveSwQcSubmittedProjectToQcHead", "Software")',
                    data: "{ projectMasterId: '" + obj.projectMasterId + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        if (data == "OK") {
                            window.location = '@Url.Action("SwQcsTotalIssueDetails", "Software")';
                           // window.location.reload(true);
                            $('#loading').hide();
                        }
                    }
                });
                e.preventDefault(); //Prevent the default submit
            }
                , function () {
                    alertify.error('Cancel');

                });
        });
        $('#btnforname').on('click', function () {
            var proSelectId = document.getElementById('CombinedProjectId');
            console.log(proSelectId);
            var selecteddropText = proSelectId.options[proSelectId.selectedIndex].text;
            var selecteddropValue = proSelectId.options[proSelectId.selectedIndex].value;
            console.log(selecteddropText);
            console.log(selecteddropValue);

            if (selecteddropText == "Select One") {
                alertify.dialog('alert').set({
                    'title': '   ',
                    'transition': 'zoom',
                    'message': "Please select Project must",
                }).show();
                return false;
            }
            // $("#tbl22 tbody.proDetails").empty();
        });

    });

    function load() {
        var refernceModuleresult1 = commonJqueryAjax('GetRefernceModule', {});
        var elem = $("#RefernceModules");
        $("#RefernceModules").chosen("destroy");
        elem.empty();
        console.log(refernceModuleresult1.list);
        $.each(refernceModuleresult1.list, function (idx, obj) {
            // alert(obj.Value);
            elem.append('<option value="' + obj.Value + '">' + obj.Text + '</option>');
        });

        elem.chosen({ width: "100%", height: "10px" });
    }

    $(function () {
        var index = 0;

        load();

        //removeBtn
        $(document).on('click', '.removeBtn', function (e) {
            e.preventDefault();
            $(this).parent().parent().find('td:eq(1)').find('.IsRemoved').val(1);

            $(this).parent().parent().addClass('hiddenColumn');
            $(this).parent().parent().remove();
        });
        //Added Time picker
        $(document).on('focus', '.form_datetime', function (e) {
            $(this).datetimepicker({
                //language:  'fr',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                use24hours: true,
                useSeconds: false,
                minuteStep: 1,
                format: 'yyyy-mm-dd hh:ii:00'
            });

        });

        $('.form_datetime').on('changeTime', function () {
            $('#EndTime').datetimepicker('option', 'minTime', $(this).val());
        });

        //RefernceModule
        var RefernceModuleresult = commonJqueryAjax('GetRefernceModule', {});
        var RefernceModuleresult1 = commonJqueryAjax('GetRefernceModule', {});
       
        //var elem1 = $(".RefernceModule");
   
        //$.each(RefernceModuleresult.list, function (idx, obj) {
        //    elem1.append('<option value="' + obj.Value + '">' + obj.Text + '</option>');
        //});
        //elem1.chosen({ width: "100%", height: "10px" });
        
        $(document).on('focus', '.RefernceModule', function (e) {
            if ($(this).has('option').length > 0) {

            } else {
                for (var i = 0; i < RefernceModuleresult.list.length; i++) {
                    var option = '<option value="' + RefernceModuleresult.list[i].Value + '">' + RefernceModuleresult.list[i].Text + '</option>';
                    //$(".RefernceModule").chosen();
                    //$(".RefernceModule").trigger("chosen:updated");
                    $(this).append(option);
                }
            }
        });
      

        $('#addmore').on('click', function (e) {
            e.preventDefault();
            moment.locale("de");

            var issueScenario;

            var proSelectId = document.getElementById('CombinedProjectId');

            console.log(proSelectId);
            var selecteddropText = proSelectId.options[proSelectId.selectedIndex].text;
            var selecteddropValue = proSelectId.options[proSelectId.selectedIndex].value;
            console.log(selecteddropText);
            console.log(selecteddropValue);

            if (selecteddropText == "Select One") {
                // alert("Please select Project must..........");
                alertify.dialog('alert').set({
                    'title': '   ',
                    'transition': 'zoom',
                    'message': "Please select Project must",
                }).show();
                return false;
            }

            $("#tbl tr.tableTrCls1").each(function () {


                issueScenario = $.trim($(this).find('#IssueScenario').val());

                console.log("issueScenario  1:   " + issueScenario);

                if (issueScenario == null || issueScenario == "undefined" || issueScenario == "") {
                    alertify.dialog('alert').set({
                        'title': '   ',
                        'transition': 'zoom',
                        'message': "Please Insert Any Issue for Adding more issues.",
                    }).show();
                    return false;
                }


            });

            console.log("issueNameForVal  :   " + issueScenario);

            if (issueScenario == null || issueScenario == "undefined" || issueScenario == "") {
                alertify.dialog('alert').set({
                    'title': '   ',
                    'transition': 'zoom',
                    'message': "Please Insert Any Issue for Adding more issues.",
                }).show();
                return false;
            }

            index++;

            //////////////Code for multiline///////////
            var tr = multiline(function () {

                /*
                <tr class="tableTrCls1" id="trIdForUpload">
                     <td  style="display: none;">$#</td>
                     <td style="display: none;"><input type="text" name="issueList[$#].IsRemoved" class="IsRemoved form-control input-small" value="0"  /></td>
                     <td class="numeric">
                        <button class="btn btn-circle btn-danger removeBtn">Remove</button>
                    </td>
                     <td>
                        <div class="form-group">
                            <textarea name="issueList[$#].IssueScenario" id="IssueScenario" class="form-control input-small" rows="4" placeholder="Issue name"></textarea>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <textarea name="issueList[$#].ExpectedOutcome" class="form-control input-small" rows="4" placeholder="Expected Outcome"></textarea>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <textarea name="issueList[$#].IssueDetails" class="form-control input-small" rows="4" placeholder="Add Comment"></textarea>
                        </div>
                    </td>
                    <td class="numeric">
                        <select name="issueList[$#].Result" class="form-control input-small">
                            <option value="">SELECT</option>
                            <option>DONE</option>
                            <option>ISSUE</option>
                            <option>NOT APPLICABLE</option>
                        </select>
                    </td>
                    <td class="numeric">
                        <select name="issueList[$#].RefernceModule" id="RefernceModule" class="form-control input-small RefernceModule"></select>
                    </td>
                     <td class="numeric">
                                <select name="issueList[$#].Frequency" class="form-control input-small">
                                    <option value="">SELECT</option>
                                    <option>ALWAYS</option>
                                    <option>SOMETIMES</option>
                                    <option>RARE</option>
                                </select>
                    </td>
                    <td class="numeric">
                        <div class="form-group">
                            <textarea name="issueList[$#].IssueReproducePath" class="form-control input-small" rows="4" placeholder="Add Reproduce Path"></textarea>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <textarea name="issueList[$#].Attachment" class="form-control input-small" rows="4" placeholder="Add Attachment"></textarea>
                        </div>
                    </td>

                    <td class="numeric">
                        <select name="issueList[$#].IssueType" class="form-control input-small">
                            <option value="">SELECT</option>
                            <option>MINOR</option>
                            <option>MAJOR</option>
                            <option>CRITICAL</option>
                        </select>
                    </td>
                        <td>
                        <div class="form-group">
                            <textarea name="issueList[$#].FilesUrl" class="form-control input-small" rows="4" placeholder="Add URL"></textarea>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <textarea name="issueList[$#].FilesDetail" class="form-control input-small" rows="4" placeholder="Files Detail"></textarea>
                        </div>
                    </td>
                     <td class="numeric">
                        <div class="col-md-11">
                            <table class="File11" id="hh1">
                                <tr id="trIdForFile">
                                    <td class="filesss" id="filesId">

                                        <div class="col-md-9" id="fileIdForCr">
                                            <input type="file" name="issueList[$#].File" id="File11" />
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" id="removeProductRow" class="btn btn-circle btn-danger" onclick="removeDetailRow($(this).closest('tr'));">
                                                <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                            </button>
                                        </div>
                                        <br /><br />
                                    </td>
                                </tr>

                            </table>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-2">

                                <button type="button" id="upPlusBt" class="btn btn-group-circle btn-success center" onclick="javascript: addField('issueList[$#].File', $(this).closest('tr'));">
                                    <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                                </button><br /><br />
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                    </td>
                 
                </tr>
*/
            });
            var rIndex = index.toString();
            var replaceTr = tr.toString();
            replaceTr = replaceTr.split("$#").join(rIndex);
            //$(".RefernceModule").chosen();
            //$(".RefernceModule").trigger("chosen:updated");
            $('#tbl > tbody:last').append(replaceTr);

            for (var i = 0; i < RefernceModuleresult.list.length; i++) {
                console.log(RefernceModuleresult.list[i].Text + "->" + RefernceModuleresult.list[i].Value);
                var option = '<option value="' + RefernceModuleresult.list[i].Value + '">' + RefernceModuleresult.list[i].Text + '</option>';

                $('#tbl >tbody').find('tr').eq(index + 1).find('.RefernceModule').append(option);
                //$(".RefernceModule").chosen();
                //$(".RefernceModule").trigger("chosen:updated");
            }
           
        });

        $('#addmore1').on('click', function (e) {
            e.preventDefault();
            moment.locale("de");

            var issueScenario;

            var proSelectId = document.getElementById('CombinedProjectId');

            console.log(proSelectId);
            var selecteddropText = proSelectId.options[proSelectId.selectedIndex].text;
            var selecteddropValue = proSelectId.options[proSelectId.selectedIndex].value;
            console.log(selecteddropText);
            console.log(selecteddropValue);

            if (selecteddropText == "Select One") {
                alertify.dialog('alert').set({
                    'title': '   ',
                    'transition': 'zoom',
                    'message': "Please select Project must",
                }).show();
                return false;
            }

            $("#tblForFile tr.tableTrCls1").each(function () {

                issueScenario = $.trim($(this).find('#IssueScenario1').val());
                console.log("issueScenario  1:   " + issueScenario);

                if (issueScenario == null || issueScenario == "undefined" || issueScenario == "") {
                    alertify.dialog('alert').set({
                        'title': '   ',
                        'transition': 'zoom',
                        'message': "Please Insert Any Issue for Adding more issues.",
                    }).show();
                    return false;
                }
            });

            console.log("issueNameForVal  :   " + issueScenario);

            if (issueScenario == null || issueScenario == "undefined" || issueScenario == "") {
                alertify.dialog('alert').set({
                    'title': '   ',
                    'transition': 'zoom',
                    'message': "Please Insert Any Issue for Adding more issues.",
                }).show();
                return false;
            }

            index++;

            //////////////Code for multiline///////////
            var tr = multiline(function () {

                /*
                 <tr class="tableTrCls1" id="trIdForUpload">
                     <td  style="display: none;">$#</td>
                     <td style="display: none;"><input type="text" name="issueList1[$#].IsRemoved" class="IsRemoved form-control input-small" value="0"  /></td>
                     <td class="numeric">
                        <button class="btn btn-circle btn-danger removeBtn">Remove</button>
                    </td>
                    <td>
                        <div class="form-group">
                            <textarea name="issueList1[$#].IssueScenario" id="IssueScenario1" class="form-control input-small" rows="4" placeholder="Issue name"></textarea>
                        </div>
                    </td>
                     <td class="numeric">
                           <select name="issueList1[$#].RefernceModules" id="RefernceModules" class="form-control input-small RefernceModules" multiple="multiple"></select>
                    </td>

                    <td>
                        <div class="form-group">
                            <textarea name="issueList1[$#].Attachment" class="form-control input-small" rows="4" placeholder="Add Attachment"></textarea>
                        </div>
                    </td>
                   <td>
                        <div class="form-group">
                            <textarea name="issueList1[$#].FilesUrl" class="form-control input-small" rows="4" placeholder="Add URL"></textarea>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <textarea name="issueList1[$#].FilesDetail" class="form-control input-small" rows="4" placeholder="Files Detail"></textarea>
                        </div>
                    </td>
                     <td class="numeric">
                        <div class="col-md-11">
                            <table class="File11" id="hh1">
                                <tr id="trIdForFile">
                                    <td class="filesss" id="filesId">

                                        <div class="col-md-9" id="fileIdForCr">
                                            <input type="file" name="issueList1[$#].File" id="File11" />
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" id="removeProductRow" class="btn btn-circle btn-danger" onclick="removeDetailRow($(this).closest('tr'));">
                                                <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                            </button>
                                        </div>
                                        <br /><br />
                                    </td>
                                </tr>

                            </table>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-2">

                                <button type="button" id="upPlusBt" class="btn btn-group-circle btn-success center" onclick="javascript: addField('issueList1[$#].File', $(this).closest('tr'));">
                                    <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                                </button><br /><br />
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                    </td>
                   
                </tr>
*/
            });

            var rIndex = index.toString();
            var replaceTr = tr.toString();
            replaceTr = replaceTr.split("$#").join(rIndex);

            $('#tblForFile > tbody:last').append(replaceTr);

            var refernceModuleresult1 = commonJqueryAjax('GetRefernceModule', {});
            var elem = $(".RefernceModules");

            $.each(refernceModuleresult1.list, function (idx, obj) {
                elem.append('<option value="' + obj.Value + '">' + obj.Text + '</option>');
            });
            elem.chosen({ width: "100%", height: "10px" });

            $('#tblForFile >tbody').find('tr').eq(index + 1).find('.RefernceModules').append(elem);

        });

        $('#btnSubmit').click(function (e) {
            e.preventDefault();

            var issueNameForVal;

            var proSelectId = document.getElementById('CombinedProjectId');
            console.log(proSelectId);

            var selecteddropText = proSelectId.options[proSelectId.selectedIndex].text;
            var selecteddropValue = proSelectId.options[proSelectId.selectedIndex].value;
            console.log(selecteddropText);
            console.log(selecteddropValue);

            if (selecteddropText == "Select One") {
                alertify.dialog('alert').set({
                    'title': '   ',
                    'transition': 'zoom',
                    'message': "Please select Project must",
                }).show();
                return false;
            }


            if ($("#forIssues").is(':checked')) {
                $("#forIssues").attr('value', 'true');
                $("#forIssues").prop("checked", true);
                document.getElementById('tbl').style.display = "table";

            } else {
                $("#forIssues").attr('value', 'false');
                $("#forIssues").prop("checked", false);
                document.getElementById('tbl').style.display = "none";
            }
            issueChk = $('#forIssues').val();
            console.log("issueChk :" + issueChk);


            if ($("#forAllFiles").is(':checked')) {
                $("#forAllFiles").attr('value', 'true');
                $("#forAllFiles").prop("checked", true);
                document.getElementById('tblForFile').style.display = "table";

            } else {
                $("#forAllFiles").attr('value', 'false');
                $("#forAllFiles").prop("checked", false);
                document.getElementById('tblForFile').style.display = "none";
            }
            fileChk = $('#forAllFiles').val();
            console.log("fileChk :" + fileChk);

            if (issueChk == "true") {
                $("#tbl tr.tableTrCls1").each(function () {

                    issueNameForVal = $.trim($(this).find('#IssueScenario').val());
                    console.log("issueNameForVal  1:   " + issueNameForVal);


                    if (issueNameForVal == null || issueNameForVal == "undefined" || issueNameForVal == "") {
                        alertify.dialog('alert').set({
                            'title': '   ',
                            'transition': 'zoom',
                            'message': "Please Insert Any Issue for Adding more issues.",
                        }).show();
                        return false;
                    }
                });

                console.log("issueNameForVal  :   " + issueNameForVal);

                if (issueNameForVal == null || issueNameForVal == "undefined" || issueNameForVal == "") {
                    alertify.dialog('alert').set({
                        'title': '   ',
                        'transition': 'zoom',
                        'message': "Please Insert Any Issue for Adding more issues.",
                    }).show();
                    return false;
                }
                alertify.confirm('Confirm message', 'Do you want to submit Issues to Software QC Incharge?', function () {
                    $('#loading').show();
                    alertify.success('Ok');

                    var obj = [];
                    obj.projectMasterId = $("select#CombinedProjectId").val();
                    obj.issueChk = issueChk;
                    obj.fileChk = fileChk;

                    var match = obj.projectMasterId.split(',');

                    for (var i = 0; i < match.length; i++) {
                        console.log("<br /> Element " + i + " of the array is: " + match[i]);

                        obj.pro_id = match[0];
                        obj.swQcIncharge_id = match[1];
                        obj.swQcAssign_id = match[2];

                    }
                    console.log(obj.issueChk);
                    console.log(obj.fileChk);
                    //console.log(obj.swQcAssign_id);

                    $('#pro_id').val(obj.pro_id);
                    $('#swQcIncharge_id').val(obj.swQcIncharge_id);
                    $('#swQcAssign_id').val(obj.swQcAssign_id);
                    $('#issueChk').val(obj.issueChk);
                    $('#fileChk').val(obj.fileChk);

                    $('#form1').trigger('submit');
                    $('#loading').hide();
                }, function () {
                    alertify.error('Cancel');

                });
            }
            else if (fileChk == "true") {
                $("#tblForFile tr.tableTrCls1").each(function () {

                    issueNameForVal = $.trim($(this).find('#IssueScenario1').val());
                    console.log("issueNameForVal  1:   " + issueNameForVal);


                    if (issueNameForVal == null || issueNameForVal == "undefined" || issueNameForVal == "") {
                        alertify.dialog('alert').set({
                            'title': '   ',
                            'transition': 'zoom',
                            'message': "Please Insert Any Issue for Adding more issues.",
                        }).show();
                        return false;
                    }
                });

                console.log("issueNameForVal  :   " + issueNameForVal);

                if (issueNameForVal == null || issueNameForVal == "undefined" || issueNameForVal == "") {
                    alertify.dialog('alert').set({
                        'title': '   ',
                        'transition': 'zoom',
                        'message': "Please Insert Any Issue for Adding more issues.",
                    }).show();
                    return false;
                }
                alertify.confirm('Confirm message', 'Do you want to submit Issues to Software QC Incharge?', function () {
                    $('#loading').show();
                    alertify.success('Ok');

                    var obj = [];
                    obj.projectMasterId = $("select#CombinedProjectId").val();
                    obj.issueChk = issueChk;
                    obj.fileChk = fileChk;

                    var match = obj.projectMasterId.split(',');

                    for (var i = 0; i < match.length; i++) {
                        console.log("<br /> Element " + i + " of the array is: " + match[i]);

                        obj.pro_id = match[0];
                        obj.swQcIncharge_id = match[1];
                        obj.swQcAssign_id = match[2];

                    }
                    console.log(obj.issueChk);
                    console.log(obj.fileChk);
                    //console.log(obj.swQcAssign_id);

                    $('#pro_id').val(obj.pro_id);
                    $('#swQcIncharge_id').val(obj.swQcIncharge_id);
                    $('#swQcAssign_id').val(obj.swQcAssign_id);
                    $('#issueChk').val(obj.issueChk);
                    $('#fileChk').val(obj.fileChk);

                    $('#form1').trigger('submit');
                    $('#loading').hide();
                }, function () {
                    alertify.error('Cancel');

                });
            }
            //window.location.reload(true);
        });

    });
    $(document).on('submit', 'form', function () {
        var buttons = $(this).find('[type="submit"]');
        if ($(this).valid()) {
            buttons.each(function (btn) {
                $(buttons[btn]).prop('disabled', true);
            });
        } else {
            buttons.each(function (btn) {
                $(buttons[btn]).prop('disabled', false);
            });
        }
    });
    //rv
    $(document).ready(function () {
        $("body").on("click", "#tbl33 .removeBtns", function () {

            event.preventDefault();
            var row = $(this).closest("tr");

            var proSelectId = document.getElementById('CombinedProjectId');
            console.log(proSelectId);

            var selecteddropText = proSelectId.options[proSelectId.selectedIndex].text;
            var selecteddropValue = proSelectId.options[proSelectId.selectedIndex].value;
            console.log(selecteddropText);
            console.log(selecteddropValue);

            var supplierUpdate = {};

            supplierUpdate.SwQcIssueId = row.find(".SwQcIssueId").val();
            //var projectId = $("select#CombinedProjectId").val();
            //supplierUpdate.projectId = selecteddropValue;

            $('#pro_id').val(selecteddropValue);

                        @*$.ajax({
                type: "POST",
                url: '@Url.Action("SwQcIssueDelete", "Software")',
                data: '{supplierUpdate:' + JSON.stringify(supplierUpdate) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data == "OK") {
                        //  window.location = '@Url.Action("SwQcsTotalIssueDetails", "Software")?projectId=' + $('option:selected', $('#CombinedProjectId')).val();
                        //window.location.reload(true);
                        $('#loading').hide();
                    }

                }
            });*@

            alertify.confirm('Delete A Issue', 'Do you want to Delete this Issue?', function () {
                alertify.success('Successfully Deleted.');

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SwQcIssueDelete", "Software")',
                    data: '{supplierUpdate:' + JSON.stringify(supplierUpdate) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        if (data == "OK") {
                            //  window.location = '@Url.Action("SwQcsTotalIssueDetails", "Software")?projectId=' + $('option:selected', $('#CombinedProjectId')).val();
                            //window.location.reload(true);
                            $('#loading').hide();
                            row.hide();
                            //$(this).hide();
                            //  trForRowRv
                        }

                    }
                });
                event.preventDefault(); //Prevent the default submit
            }
                , function () {
                    alertify.error('Cancel');
                    $('#loading').hide();
                });

        });
    });
    $(function () {
        $("body:first").addClass("page-sidebar-closed");
        $("ul.page-sidebar-menu").addClass("page-sidebar-menu-closed");
    });
</script>
