@model ProjectManagement.Models.ForeignIqcModel
@{
    ViewBag.Title = "ForeignIqc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.HiddenFor(x => x.Id)
@Html.HiddenFor(x => x.ProjectId)
@Html.HiddenFor(x => x.AddedBy)
@Html.HiddenFor(x => x.AddedDate)
<div class="row">
    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">Foreign IQC</div>
            <div class="tools">
                <input type="submit" value="Save" class="btn btn-warning btn-sm" id="btnSave" />
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    @Html.DropDownListFor(x => x.VariantId, new SelectList(@ViewBag.Projects, "Id", "ProjectModel"), "Select Project", new { @class = "form-control ddChosen", required = "" })
                </div>
                <div class="col-md-4"></div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-3">Lot No</div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.LotNo, new { @class = "form-control", type = "number" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-3">Lot Quantity</div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.LotQuantity, new { @class = "form-control", type = "number" })
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-3">100% Inspection Passed</div>
                    <div class="col-md-9">
                        @Html.DropDownListFor(x => x.AllMaterialPassed, new List<SelectListItem>
                        {
                            new SelectListItem{Value = "Yes",Text = "Yes"},
                            new SelectListItem{Value = "No",Text = "No"}
                        }, "Select", new { @class = "form-control", required = "" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-3">No of Inspection</div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.NoOfInspectionTime, new { @class = "form-control", type = "number", min = "1" })
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-3">Management Approved</div>
                    <div class="col-md-9">
                        @Html.DropDownListFor(x => x.ManagementApproved, new List<SelectListItem>
                        {
                            new SelectListItem{Value = "Yes",Text = "Yes"},
                            new SelectListItem{Value = "No",Text = "No"}
                        }, "Select", new { @class = "form-control", required = "" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-3">Management Approve Date</div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.ManagementApproveDate, new { @class = "form-control date_picker", @readonly = "", required = "" })
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-3">Sourcing Approved</div>
                    <div class="col-md-9">
                        @Html.DropDownListFor(x => x.SourcingApproved, new List<SelectListItem>
                        {
                            new SelectListItem{Value = "Yes",Text = "Yes"},
                            new SelectListItem{Value = "No",Text = "No"}
                        }, "Select", new { @class = "form-control", required = "" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-3">Warehouse Recive Date</div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.WarehouseReceiveDate, new { @class = "form-control date_picker", @readonly = "", required = "" })
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-3">Iqc Start Date</div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(x => x.IqcStartDate, new { @class = "form-control date_picker", @readonly = "", required = "" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-3">Shipment No</div>
                    <div class="col-md-9">
                        @Html.DropDownListFor(x => x.ShipmentNo, new List<SelectListItem>
                        {
                            new SelectListItem{Value = "1",Text = "1"},
                            new SelectListItem{Value = "2",Text = "2"},
                            new SelectListItem{Value = "3",Text = "3"},
                            new SelectListItem{Value = "4",Text = "4"},
                            new SelectListItem{Value = "5",Text = "5"},
                            new SelectListItem{Value = "6",Text = "6"},
                            new SelectListItem{Value = "7",Text = "7"},
                            new SelectListItem{Value = "8",Text = "8"},
                            new SelectListItem{Value = "9",Text = "9"},
                            new SelectListItem{Value = "10",Text = "10"}
                        }, "Select", new { @class = "form-control", required = "" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-3">Remarks</div>
                    <div class="col-md-9">
                        @Html.TextAreaFor(x => x.Remarks, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="portlet box light">
        <div class="col-md-12">
            <div class="tabbable-line boxless">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_0" data-toggle="tab">SKD BOM</a>
                    </li>
                    <li class="">
                        <a href="#tab_1" data-toggle="tab">CKD BOM</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_0">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">SKD BOM</div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="tblSkdBom">
                                        <thead>
                                            <tr>
                                                <th>Spare Name</th>
                                                <th>Description</th>
                                                <th>BOM Quantity</th>
                                                <th>AQL Size</th>
                                                <th>BOM Failed</th>
                                                <th>Remarks</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="tab-pane" id="tab_1">
                        <div class="portlet box red">
                            <div class="portlet-title">
                                <div class="caption">CKD BOM</div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="tblCkdBom">
                                        <thead>
                                            <tr>
                                                <th>Spare Name</th>
                                                <th>Description</th>
                                                <th>BOM Quantity</th>
                                                <th>AQL Size</th>
                                                <th>BOM Failed</th>
                                                <th>Remarks</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        //$('#iqcFormId').on('submit', function (e) {
        //    var project = $('#VariantId option:selected').text();
        //    if (project == 'Select Project') {
        //        e.preventDefault();
        //        alertify.error('Select a project');
        //    }
        //});

        $('#NoOfInspectionTime').on('input', function () {
            var inspectionNo = $('#NoOfInspectionTime').val();
            console.log(inspectionNo);
            var project = $('#VariantId option:selected').text();
            var variantid = $('#VariantId option:selected').val();
            if (project == 'Select Project') {
                console.log(project);
                $('#tblCkdBom tbody').empty();
                $('#tblSkdBom tbody').empty();
                //empty fields
                $('#LotNo').val('');
                $('#LotQuantity').val('');
                $('#Remarks').val('');
                $('#WarehouseReceiveDate').val('');
                $('#IqcStartDate').val('');
                $('#ManagementApproveDate').val('');
                $('#AllMaterialPassed').prop('selectedIndex', 0);
                $('#SourcingApproved').prop('selectedIndex', 0);
                $('#ManagementApproved').prop('selectedIndex', 0);
                $('#ShipmentNo').prop('selectedIndex', 0);
                alertify.error('Please select a project first');
                //====0====
            } else {
                $('#NoOfInspectionTime').attr('disabled', true);
                $('#tblCkdBom tbody').empty();
                $('#tblSkdBom tbody').empty();
                //empty fields
                $('#LotNo').val('');
                $('#LotQuantity').val('');
                $('#Remarks').val('');
                $('#WarehouseReceiveDate').val('');
                $('#IqcStartDate').val('');
                $('#ManagementApproveDate').val('');
                $('#AllMaterialPassed').prop('selectedIndex', 0);
                $('#SourcingApproved').prop('selectedIndex', 0);
                $('#ManagementApproved').prop('selectedIndex', 0);
                $('#ShipmentNo').prop('selectedIndex', 0);
                //====0====
                var url = '@Url.Action("GetBom","Iqc")';
                $.post(url, { id: variantid, insno: inspectionNo }, function (data) {
                    console.log(data);
                    if (data.iqc != null) {
                        $('#NoOfInspectionTime').attr('disabled', false);
                        console.log(data.iqc);
                        $('#Id').val(data.iqc.Id);
                        $('#ProjectId').val(data.iqc.ProjectId);
                        $('#AddedBy').val(data.iqc.AddedBy);
                        $('#AddedDate').val(formatDate(data.iqc.AddedDate));
                        $('#LotNo').val(data.iqc.LotNo);
                        $('#LotQuantity').val(data.iqc.LotQuantity);
                        $('#NoOfInspectionTime').val(data.iqc.NoOfInspectionTime);
                        $('#ManagementApproveDate').val(formatDate(data.iqc.ManagementApproveDate));
                        $('#Remarks').val(data.iqc.Remarks);
                        $('#WarehouseReceiveDate').val(formatDate(data.iqc.WarehouseReceiveDate));
                        $('#IqcStartDate').val(formatDate(data.iqc.IqcStartDate));
                        $('#AllMaterialPassed').val(data.iqc.AllMaterialPassed);
                        $('#SourcingApproved').val(data.iqc.SourcingApproved);
                        $('#ManagementApproved').val(data.iqc.ManagementApproved);
                        $('#ShipmentNo').val(data.iqc.ShipmentNo);
                    } else {
                        $('#Id').val(0);
                    }
                    for (var i = 0; i < data.bomrecord.length; i++) {
                        var row = '';
                        if (data.bomrecord[i].BOMType == 'EBOM') {
                            row = '<tr>' +
                                        '<td hidden="">' + data.bomrecord[i].Id + '</td>' +
                                        '<td hidden="">' + data.bomrecord[i].VariantId + '</td>' +
                                        '<td hidden="">' + data.bomrecord[i].BomId + '</td>' +
                                        '<td hidden="">' + data.bomrecord[i].ProjectId + '</td>' +
                                        '<td style="width:100px">' + data.bomrecord[i].SpareDescription + '</td>' +
                                        '<td style="width:100px">' + data.bomrecord[i].Description + '</td>' +
                                        '<td>' + data.bomrecord[i].BomQuantity + '</td>' +
                                        '<td><input type="number" min="0" class="form-control" value="' + data.bomrecord[i].BomPassedQuantity + '"/></td>' +
                                        '<td><input type="number" min="0" class="form-control" value="' + data.bomrecord[i].BomFailQuantity + '"/></td>' +
                                        '<td><input type="text" class="form-control" value="' + (data.bomrecord[i].Remarks == null ? '' : data.bomrecord[i].Remarks) + '"/></td>' +
                                        '<td hidden="">' + data.bomrecord[i].ForeignIqcId + '</td>' +
                                  '</tr>';
                            $('#tblCkdBom tbody').append(row);
                        }
                        if (data.bomrecord[i].BOMType == 'SKDBOM') {
                            row = '<tr>' +
                                       '<td hidden="">' + data.bomrecord[i].Id + '</td>' +
                                       '<td hidden="">' + data.bomrecord[i].VariantId + '</td>' +
                                       '<td hidden="">' + data.bomrecord[i].BomId + '</td>' +
                                       '<td hidden="">' + data.bomrecord[i].ProjectId + '</td>' +
                                       '<td style="width:100px">' + data.bomrecord[i].SpareDescription + '</td>' +
                                       '<td style="width:100px">' + data.bomrecord[i].Description + '</td>' +
                                       '<td>' + data.bomrecord[i].BomQuantity + '</td>' +
                                       '<td><input type="number" min="0" class="form-control" value="' + data.bomrecord[i].BomPassedQuantity + '"/></td>' +
                                       '<td><input type="number" min="0" class="form-control" value="' + data.bomrecord[i].BomFailQuantity + '"/></td>' +
                                       '<td><input type="text" class="form-control" value="' + (data.bomrecord[i].Remarks == null ? '' : data.bomrecord[i].Remarks) + '"/></td>' +
                                       '<td hidden="">' + data.bomrecord[i].ForeignIqcId + '</td>' +
                                  '</tr>';
                            $('#tblSkdBom tbody').append(row);
                        }
                    }
                    $('#NoOfInspectionTime').attr('disabled', false);
                });
            }
        });

        $('#VariantId').on('change', function () {
            $('#tblCkdBom tbody').empty();
            $('#tblSkdBom tbody').empty();
            //empty filds
            $('#LotNo').val('');
            $('#LotQuantity').val('');
            $('#NoOfInspectionTime').val('');
            $('#Remarks').val('');
            $('#WarehouseReceiveDate').val('');
            $('#IqcStartDate').val('');
            $('#ManagementApproveDate').val('');
            $('#AllMaterialPassed').prop('selectedIndex', 0);
            $('#SourcingApproved').prop('selectedIndex', 0);
            $('#ManagementApproved').prop('selectedIndex', 0);
            $('#ShipmentNo').prop('selectedIndex', 0);
            //====0====
            var project = $('#VariantId option:selected').text();
            var variantid = $('#VariantId option:selected').val();
            console.log(variantid);
            if (project != 'Select Project') {
                var url = '@Url.Action("GetBom","Iqc")';
                $.post(url, { id: variantid }, function (data) {
                    console.log(data);
                    if (data.iqc != null) {
                        console.log(data.iqc);
                        $('#Id').val(data.iqc.Id);
                        $('#ProjectId').val(data.iqc.ProjectId);
                        $('#AddedBy').val(data.iqc.AddedBy);
                        $('#AddedDate').val(formatDate(data.iqc.AddedDate));
                        $('#LotNo').val(data.iqc.LotNo);
                        $('#LotQuantity').val(data.iqc.LotQuantity);
                        $('#NoOfInspectionTime').val(data.iqc.NoOfInspectionTime);
                        $('#ManagementApproveDate').val(formatDate(data.iqc.ManagementApproveDate));
                        $('#Remarks').val(data.iqc.Remarks);
                        $('#WarehouseReceiveDate').val(formatDate(data.iqc.WarehouseReceiveDate));
                        $('#IqcStartDate').val(formatDate(data.iqc.IqcStartDate));
                        $('#AllMaterialPassed').val(data.iqc.AllMaterialPassed);
                        $('#SourcingApproved').val(data.iqc.SourcingApproved);
                        $('#ManagementApproved').val(data.iqc.ManagementApproved);
                        $('#ShipmentNo').val(data.iqc.ShipmentNo);
                    }
                    for (var i = 0; i < data.bomrecord.length; i++) {
                        var row = '';
                        if (data.bomrecord[i].BOMType == 'EBOM') {
                            row = '<tr>' +
                                        '<td hidden="">' + data.bomrecord[i].Id + '</td>' +
                                        '<td hidden="">' + data.bomrecord[i].VariantId + '</td>' +
                                        '<td hidden="">' + data.bomrecord[i].BomId + '</td>' +
                                        '<td hidden="">' + data.bomrecord[i].ProjectId + '</td>' +
                                        '<td style="width:100px">' + data.bomrecord[i].SpareDescription + '</td>' +
                                        '<td style="width:100px">' + data.bomrecord[i].Description + '</td>' +
                                        '<td>' + data.bomrecord[i].BomQuantity + '</td>' +
                                        '<td><input type="number" min="0" class="form-control" value="' + data.bomrecord[i].BomPassedQuantity + '"/></td>' +
                                        '<td><input type="number" min="0" class="form-control" value="' + data.bomrecord[i].BomFailQuantity + '"/></td>' +
                                        '<td><input type="text" class="form-control" value="' + (data.bomrecord[i].Remarks == null ? '' : data.bomrecord[i].Remarks) + '"/></td>' +
                                        '<td hidden="">' + data.bomrecord[i].ForeignIqcId + '</td>' +
                                  '</tr>';
                            $('#tblCkdBom tbody').append(row);
                        }
                        if (data.bomrecord[i].BOMType == 'SKDBOM') {
                            row = '<tr>' +
                                       '<td hidden="">' + data.bomrecord[i].Id + '</td>' +
                                       '<td hidden="">' + data.bomrecord[i].VariantId + '</td>' +
                                       '<td hidden="">' + data.bomrecord[i].BomId + '</td>' +
                                       '<td hidden="">' + data.bomrecord[i].ProjectId + '</td>' +
                                       '<td style="width:100px">' + data.bomrecord[i].SpareDescription + '</td>' +
                                       '<td style="width:100px">' + data.bomrecord[i].Description + '</td>' +
                                       '<td>' + data.bomrecord[i].BomQuantity + '</td>' +
                                       '<td><input type="number" min="0" class="form-control" value="' + data.bomrecord[i].BomPassedQuantity + '"/></td>' +
                                       '<td><input type="number" min="0" class="form-control" value="' + data.bomrecord[i].BomFailQuantity + '"/></td>' +
                                       '<td><input type="text" class="form-control" value="' + (data.bomrecord[i].Remarks == null ? '' : data.bomrecord[i].Remarks) + '"/></td>' +
                                       '<td hidden="">' + data.bomrecord[i].ForeignIqcId + '</td>' +
                                  '</tr>';
                            $('#tblSkdBom tbody').append(row);
                        }
                    }
                });
            }
        });

        $('#btnSave').on('click', function () {
            $('#btnSave').attr('disabled', true);
            // all Foreigniqc values
            var project = $('#VariantId option:selected').text();
            var variantid = $('#VariantId option:selected').val();
            var id = $('#Id').val();
            var projectid = $('#ProjectId').val();
            var addedby = $('#AddedBy').val();
            var addeddate = $('#AddedDate').val();
            var lotno = $('#LotNo').val();
            var lotquantity = $('#LotQuantity').val();
            var noofinspection = $('#NoOfInspectionTime').val();
            var remarks = $('#Remarks').val();
            var warehousereceive = $('#WarehouseReceiveDate').val();
            var iqcstart = $('#IqcStartDate').val();
            var manageapprovedate = $('#ManagementApproveDate').val();
            var allpassed = $('#AllMaterialPassed option:selected').val();
            var sourcingapproved = $('#SourcingApproved option:selected').val();
            var managementapproved = $('#ManagementApproved option:selected').val();
            var shipmentNo = $('#ShipmentNo option:selected').val();

            //get table row data
            var bomArray = new Array();
            //=====SKD=====
            $('#tblSkdBom tbody').find('tr').each(function (i, el) {
                var bomid = $(this).find('td').eq(0).text();
                var bomprojectid = $(this).find('td').eq(3).text();
                projectid = bomprojectid;//for now
                var mrpbomid = $(this).find('td').eq(2).text();
                var sparename = $(this).find('td').eq(4).text();
                var bomdescription = $(this).find('td').eq(5).text();
                var bomquantity = $(this).find('td').eq(6).text();
                var passed = $(this).find('td').eq(7).find('input').val();
                var failed = $(this).find('td').eq(8).find('input').val();
                var bomremarks = $(this).find('td').eq(9).find('input').val();
                var foreignIqcId = $(this).find('td').eq(10).text();
                //console.log(bomid + sparename + passed);
                var bomobj = {
                    "Id": bomid,
                    "VariantId": variantid,
                    "ProjectId": bomprojectid,
                    "BomId": mrpbomid,
                    "SpareDescription": sparename,
                    "Description": bomdescription,
                    "BOMType": "SKDBOM",
                    "BomQuantity": bomquantity,
                    "BomPassedQuantity": passed,
                    "BomFailQuantity": failed,
                    "Remarks": bomremarks,
                    "ForeignIqcId": foreignIqcId
                };
                bomArray.push(bomobj);
            });
            //=====CKD=====
            $('#tblCkdBom tbody').find('tr').each(function (i, el) {
                var bomid = $(this).find('td').eq(0).text();
                var bomprojectid = $(this).find('td').eq(3).text();
                projectid = bomprojectid;//for now
                var mrpbomid = $(this).find('td').eq(2).text();
                var sparename = $(this).find('td').eq(4).text();
                var bomdescription = $(this).find('td').eq(5).text();
                var bomquantity = $(this).find('td').eq(6).text();
                var passed = $(this).find('td').eq(7).find('input').val();
                var failed = $(this).find('td').eq(8).find('input').val();
                var bomremarks = $(this).find('td').eq(9).find('input').val();
                var foreignIqcId = $(this).find('td').eq(10).text();
                //console.log(bomid + sparename + passed);
                var bomobj = {
                    "Id": bomid,
                    "VariantId": variantid,
                    "ProjectId": bomprojectid,
                    "BomId": mrpbomid,
                    "SpareDescription": sparename,
                    "Description": bomdescription,
                    "BOMType": "EBOM",
                    "BomQuantity": bomquantity,
                    "BomPassedQuantity": passed,
                    "BomFailQuantity": failed,
                    "Remarks": bomremarks,
                    "ForeignIqcId": foreignIqcId
                };
                bomArray.push(bomobj);
            });
            console.log(bomArray);
            if (project != 'Select Project' && noofinspection!='') {
                var iqc = {
                    "Id": id,
                    "ProjectId": projectid,
                    "VariantId": variantid,
                    "LotNo": lotno,
                    "LotQuantity": lotquantity,
                    "ShipmentNo": shipmentNo,
                    "AllMaterialPassed": allpassed,
                    "NoOfInspectionTime": noofinspection,
                    "ManagementApproved": managementapproved,
                    "ManagementApproveDate": manageapprovedate,
                    "SourcingApproved": sourcingapproved,
                    "Remarks": remarks,
                    "WarehouseReceiveDate": warehousereceive,
                    "IqcStartDate": iqcstart,
                    "AddedBy": addedby,
                    "AddedDate": addeddate
                };
                $.post('@Url.Action("SaveForeignIqc", "Iqc")', { iqc: iqc, ForeignIqcBomPassRecord: bomArray }, function (data) {
                    console.log(data);
                    alertify.success(data);
                    $('#btnSave').attr('disabled', false);
                    if (data != 'Updated') {
                        $('#NoOfInspectionTime').val('');
                    }
                });
            } else {
                if (project == 'Select Project') {
                    alertify.error('Select a project');
                }
                if (noofinspection == '') {
                    alertify.error('Select no of inspection');
                }
                $('#btnSave').attr('disabled', false);
            }
        });

        function formatDate(date) {
            if (date != null) {
                var dateString = date;
                var seconds = parseInt(dateString.replace(/\/Date\(([0-9]+)[^+]\//i, "$1"));
                var d = new Date(seconds),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();
                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;
                return [year, month, day].join('-');
            }
        }
    });
</script>