@model ProjectManagement.ViewModels.Commercial.VmProjectBtrcNoc

@{
    ViewBag.Title = "BtrcNoc";
}
<div class="page-head">
    <h2>BTRC NOC</h2>
</div>

<body>
    <div>
        @using (Html.BeginForm("BtrcNoc", "Commercial", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        Project Basics
                    </div>

                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            @*@Html.HiddenFor(model=>model.ProjectMasterModel.ProjectMasterId);*@
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="col-md-11">@Html.DropDownListFor(model => model.ProjectMasterModel.ProjectMasterId, new SelectList(ViewBag.Projects, "ProjectMasterId", "ProjectName"), "Select One", new { @class = "form-control" })</div>
                                <div class="col-md-1">
                                    <input type="button" class="btn sbold uppercase btn-outline blue" value="Load Project" onclick="location.href='@Url.Action("BtrcNoc", "Commercial")?projectId=' + $('option:selected', $('#ProjectMasterModel_ProjectMasterId')).val()" />
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Company Name</label>
                                    <div class="col-md-9">
                                        @Html.HiddenFor(model => model.ProjectMasterModel.SupplierName)
                                        @Html.TextBoxFor(model => model.ProjectMasterModel.SupplierName, new { @class = "form-control", @disabled = "true" })
                                        @Html.ValidationMessageFor(model => model.ProjectMasterModel.SupplierName, String.Empty, new { @style = "color:red;!important", })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Model Name</label>
                                    <div class="col-md-9">
                                        @Html.HiddenFor(model => model.ProjectMasterModel.ProjectName)
                                        @Html.TextBoxFor(model => model.ProjectMasterModel.ProjectName, new { @class = "form-control", @disabled = "true" })
                                        @Html.ValidationMessageFor(model => model.ProjectMasterModel.ProjectName, String.Empty, new { @style = "color:red;!important" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Supplier Model Name</label>
                                    <div class="col-md-9">
                                        @Html.HiddenFor(model => model.ProjectMasterModel.SupplierModelName)
                                        @Html.TextBoxFor(model => model.ProjectMasterModel.SupplierModelName, new { @class = "form-control", @disabled = "true" })
                                        @Html.ValidationMessageFor(model => model.ProjectMasterModel.SupplierModelName, String.Empty, new { @style = "color:red;!important" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">PO Date</label>
                                    <div class="col-md-9">
                                        @Html.HiddenFor(model => model.ProjectMasterModel.ApproxProjectOrderDate)
                                        @Html.TextBoxFor(model => model.ProjectMasterModel.ApproxProjectOrderDate, new { @class = "form-control", @disabled = "true" })
                                        @Html.ValidationMessageFor(model => model.ProjectMasterModel.ApproxProjectOrderDate, String.Empty, new { @style = "color:red;!important" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Appx. Shipment Date</label>
                                    <div class="col-md-9">
                                        @Html.HiddenFor(model => model.ProjectMasterModel.ApproxShipmentDate)
                                        @Html.TextBoxFor(model => model.ProjectMasterModel.ApproxShipmentDate, new { @class = "form-control", @disabled = "true" })
                                        @Html.ValidationMessageFor(model => model.ProjectMasterModel.ApproxShipmentDate, String.Empty, new { @style = "color:red;!important" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        PI Info
                    </div>

                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        @Html.HiddenFor(model => model.ProjectBtrcNocModel.ProjectBrtcNocId)
                        <div class="row">
                            
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">File Upload</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.File, new { type = "file", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" class="btn sbold uppercase btn-outline blue" value="Save" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        } 
    </div>
</body>