@model IEnumerable<ProjectManagement.Models.ProjectLcModel>
@{
    ViewBag.Title = "Lcs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Modal -->
<div class="modal fade" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div id='gameContainer'>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase">LC List</span>
                    </div>
                    <div class="tools">
                        <input type="button" class="btn sbold uppercase btn-outline blue" value="New LC" onclick="location.href='@Url.Action("Lc", "Commercial")?projectId=0'" /> 
                    </div>
                
            </div>
            <div class="portlet-body">
                <div class="col-lg-12">
                    @{
                        if (TempData["message"] != null)
                        {
                            var msgType = TempData["messageType"];
                            var msg = TempData["message"];
                            if ((int)msgType == 1)
                            {
                                <div class="alert alert-success alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                    <strong>Message:</strong> @msg
                                </div>
                            }
                            else if ((int)msgType == 2)
                            {
                                <div class="alert alert-danger alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                    <strong>Message:</strong> @msg
                                </div>
                            }
                            else if ((int)msgType == 3)
                            {
                                <div class="alert alert-info alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                                    <strong>Message:</strong> @msg
                                </div>
                            }
                        }
                    }
                </div>
                <table class="table table-striped table-scrollable table-bordered table-hover dtTable" id="sample_1">
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Order No</th>
                            <th>PO No</th>
                            <th>Lc No</th>
                            <th>Lc Value from oracle(USD)</th>
                            <th>PO Date</th>
                            <th>Opening Date</th>
                            <th>Added By</th>

                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.ProjectName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.OrderNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PoNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.LcNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.LcValue)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PoDate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.OpeningDate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AddedByName)</td>
                                    <td>
                                        <input type="submit" class="btn btn-success btn-sm mt-ladda-btn ladda-button btn-circle" value="Details" onclick="location.href='@Url.Action("Lc", "Commercial", new { id = item.ProjectLcId, projectId = item.ProjectMasterId })'" />
                                        <input type="submit" class="btn btn-danger btn-sm mt-ladda-btn ladda-button btn-circle" value="Close" id="btnClose" onclick="location.href='@Url.Action("LcClose", "Commercial", new { id = item.ProjectLcId, poNo = item.PoNo, projectName = item.ProjectName })'" />
                                        @*<button id='newIssue' class="btn btn-danger btn-sm mt-ladda-btn ladda-button btn-circle" onclick="goToController('/Common/Deny?id=@item.ProjectLcId')">Close</button>*@

                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
        <!-- BEGIN EXAMPLE TABLE PORTLET-->

    </div>
</div>


<script type="text/javascript">
    
    function goToController(url) {
        $(function () {
            $.get(url, function (data) {
                console.log(data);
                $('#gameContainer').html(data);
                $('#gameModal').modal('show');
            });
        });
    }

</script>
