@*<h2>AftersalesPmIncentiveReportPerPerson</h2>*@
@model IEnumerable<ProjectManagement.Models.Custom_Pm_IncentiveModel>

    <script src="~/Scripts/FileSaver/jquery.wordexport.js"></script>
    <script src="~/Scripts/jquery.table2excel.min.js"></script>

    <div class="page-head">
        <div class="page-title">
            <h1>
                Incentive
            </h1>

            <br />

        </div>
        <div class="action">
            <div class="col-md-2">
               
                <button class="btn green btn-outline btn-circle btn-sm pull-left" onclick="tableToExcel('table2excel', '@Request.Params["Name"]')">
                    <i class="fa fa-save"></i>
                    Export to Excel
                </button>
            </div>

            <button class="btn green btn-outline btn-circle btn-sm pull-right pdf" id="pdf">
                <i class="fa fa-save"></i>
                Export as PDF
            </button>
        </div>
    </div>

    <div class="portlet box blue-dark table2excel" id="table2excel">
        <div class="portlet-title">


        </div>
        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row"></div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="portlet box default">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-cogs"></i>Aftersales PM Incentive
                            </div>

                            <div class="tools">
                                <a title="" data-original-title="" href="javascript:;" class="collapse"> </a>
                                <a title="" data-original-title="" href="#portlet-config" data-toggle="modal" class="config"> </a>
                                <a title="" data-original-title="" href="javascript:;" class="reload"> </a>
                                <a title="" data-original-title="" href="javascript:;" class="remove"> </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="col-lg-12" id="PDFWrapper">
                                <br /><br /><br />
                                <div class="col-lg-4"></div>

                                <div class="col-lg-4">
                                    <h1 style="text-align: center;font-weight: bold; font-size: 30px;"> Walton Plaza (Import)</h1>
                                    <h2 style="text-align: center;font-size: 20px;"> Department : Cellular Phone</h2>
                                    <h2 style="text-align: center;font-size: 20px;">  Section : Aftersales PM Team</h2>
                                    <h2 style="text-align: center;font-size: 20px;"> Incentive Sheet</h2>
                                   
                                    <h2 style="text-align: center;font-size: 20px;">
                                        @Request.Params["Month"], @Request.Params["Year"]
                                    </h2>
                                    <h2 style="text-align: center;font-size: 20px;"> Name :  @Request.Params["Name"] <br /> ID : @Request.Params["EmpCode"] </h2>
                                </div>

                                <br /><br /><br />  <br />  <br />  <br /><br /> <br /><br /><br />  <br />  <br />  <br /><br /><br />  <br />  <br /><br /><br /><br />  <br />  <br /><br /><br />  <br />  <br />
                                <div class="table-scrollable table-responsive">
                                    <table class="table table-bordered table-striped table-condensed flip-content tbl11" id="tbl11" style="left: 0px;">
                                        <thead class="flip-content">
                                            <tr style="font-size: 16px;">
                                                <th style="text-align: center;border-width: 2px;border-color: black;width: 200px;height: 50px;"> Work Type </th>
                                                <th style="text-align: center;border-width: 2px;border-color: black;width: 200px;height: 50px;"> Model </th>
                                                <th style="text-align: center;width: 100px;height: 50px;"> Amount </th>
                                                <th style="text-align: center;width: 100px;height: 50px;"> Remarks </th>
                                                <th style="text-align: center;width: 100px;height: 50px;"> Deduction </th>
                                                <th style="text-align: center;width: 100px;height: 50px;"> Deduction Remarks </th>
                                                <th style="text-align: center;width: 100px;height: 50px;"> Final Amount </th>
                                            </tr>
                                        </thead>
                                        <tbody style="text-align: center;font-size: 14px;">

                                            @foreach (var item1 in Model)
                                            {
                                                <tr class="tableTrCls11" id="trIdForIncentive11">
                                                    <td>@item1.IncentiveTypes</td>
                                                    <td>@item1.ProjectName</td>
                                                    <td>@item1.Amount1</td>
                                                    <td>@item1.Remarks</td>
                                                    <td>@item1.DeductionAmount1</td>
                                                    <td>@item1.D_Remarks</td>
                                                    <td>@item1.FinalAmount1</td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>

                                </div>
                                <br /><br /><br /><br />
                                <div class="col-lg-12">
                                    @foreach (var items in ViewBag.GetTotalFinalIncentiveOfPm)
                                    {
                                        <div style="text-align: left;font-size: 20px;">Total Incentive :<span></span><span></span><span></span> @items.FinalAmount1</div>

                                    }
                                </div>


                                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                                <div class="col-lg-4">
                                    <h4 style="text-align: left;">____________________</h4>
                                    <p style="text-align: left;font-size: 20px;"> Prepared By</p>
                                    <p>
                                        @foreach (var item1 in ViewBag.GetPreparedUser)
                                        {
                                            <div style="text-align: left;font-size: 20px;">Name :@item1.UserFullName</div>
                                            <div style="text-align: left;font-size: 20px;">ID :@item1.EmployeeCode</div>
                                        }
                                    </p>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br /><br /><br /><br /><br /><br />

        </div>

    </div>


    <script>
        $(function () {

        });

        $("#pdf").on("click", function () {
            var divContents = $("#PDFWrapper").html();
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title></title>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        });
        var tableToExcel = (function () {
            var uri = 'data:application/vnd.ms-excel;base64,'
              , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
              , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
              , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }

            return function (table, name) {
                if (!table.nodeType) table = document.getElementById(table)
                var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                //window.location.href = uri + base64(format(template, ctx))
                var link = document.createElement("a");
                link.download = '@Request.Params["Name"]' + '_' + '@Request.Params["Month"]' + '_' + '@Request.Params["Year"]' + '.xls';
                link.href = uri + base64(format(template, ctx));
                link.click();
            }
        })()
    </script>

