@*DetailsOfSwQcsAllWorkForPm*@
@using System.Web.Mvc.Html
@using ProjectManagement.Infrastructures.Helper
@using ProjectManagement.Models
@using ProjectManagement.ViewModels.Software
@model ProjectManagement.ViewModels.Software.VmSwQcHeadViewModel

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<link href="~/Content/icheck/skins/all.css" rel="stylesheet" />
<script src="~/Content/icheck/icheck.min.js"></script>
<link href="~/Content/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" />
<script src="~/Content/bootstrap-fileinput/bootstrap-fileinput.js"></script>
<script src="~/Scripts/FileSaver/FileSaver.js"></script>
<script src="~/Scripts/FileSaver/jquery.wordexport.js"></script>
<script src="~/Scripts/jquery.table2excel.min.js"></script>
<style>
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }

    #myBtn:hover {
        background-color: #555;
    }
     input[type=checkbox] {
         /* Double-sized Checkboxes */
         -ms-transform: scale(2); /* IE */
         -moz-transform: scale(2); /* FF */
         -webkit-transform: scale(2); /* Safari and Chrome */
         -o-transform: scale(2); /* Opera */
         padding: 10px;
     }
</style>
<div class="page-head">
    <div class="page-title">
        <div class="rvmCls">
            <button onclick="goBack()" class="btn blue-ebonyclay"> <span class="fa fa-backward">Go Back</span></button>
        </div>
    </div>
    <div class="action">
        @*<div class="col-md-2">
            <a class="btn btn-outline btn-default" onclick="location.href='@Url.Action("GetAllSwFiles", "Software")?projectId='+'@Request.QueryString["projectId"]'+'&swqcInchargeId='+'@Request.QueryString["swqcInchargeId"]'+'&projectName='+'@Request.QueryString["ProjectName"] '"><i class="fa fa-paperclip"></i> All Documents</a>
        </div>*@
        <button class="btn green btn-outline btn-circle btn-sm pull-right jquery-word-export" onclick="export2Word(window.table2excel)">
            <i class="fa fa-wordpress"></i>
            Export as .doc
        </button>

        <button class="btn green btn-outline btn-circle btn-sm pull-right jquery-excell-export">
            <i class="fa fa-save"></i>
            Export as Excell
        </button>
    </div>
</div>

<div class="portlet box blue-dark table2excel" id="table2excel">
    <div class="portlet-title">

        <div class="caption">
            <i class="icon-arrow-right font-white"></i>

            Details of
            @Request.QueryString["projectName"]
        </div>
    </div>
    <div class="portlet-body">
        @using (Html.BeginForm("DetailsOfSwQcsAllWorkForPm", "Software", FormMethod.Post, new { enctype = "multipart/form-data", id = "form7" }))
        {
            <div class="table-toolbar">
                <div class="row"></div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="portlet box default">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-cogs"></i>Module Name : Issue Details
                            </div>
                            <div class="tools">
                                @*<a title="" data-original-title="" href="javascript:;" class="collapse"> </a>
                                <a title="" data-original-title="" href="#portlet-config" data-toggle="modal" class="config"> </a>
                                <a title="" data-original-title="" href="javascript:;" class="reload"> </a>
                                <a title="" data-original-title="" href="javascript:;" class="remove"> </a>*@
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-scrollable table-responsive">
                                <table class="table table-striped table-bordered table-hover tblID13 table2excel" id="tblID13">
                                    <thead class="flip-content">
                                        <tr>
                                            <th style="text-align: center;"> Issue SL. </th>
                                            <th style="text-align: center;">  FileOrIssue </th>
                                            @*<th style="text-align: center;">  IsApproved<br />ForChina? </th>*@
                                            <th style="text-align: center;">  Done By </th>
                                            <th style="text-align: center;">  Sw.V.No. </th>
                                            <th style="text-align: center;">  IssueScenario </th>
                                            <th style="text-align: center;"> ExpectedOutcome </th>
                                            <th style="text-align: center;"> IssueDetails </th>
                                            <th style="text-align: center;"> RefernceModule </th>
                                            <th style="text-align: center;"> Frequency </th>
                                            <th style="text-align: center;"> Attachment </th>
                                            <th style="text-align: center;">IssueType </th>
                                            <th style="text-align: center;">Result </th>
                                            <th style="text-align: center;">FilesUrl </th>
                                            <th style="text-align: center;">FilesDetail </th>
                                            <th style="text-align: center;">Upload </th>
                                        </tr>
                                    </thead>
                                    <tbody style="text-align: center">

                                        @if (Model != null && Model.SwQcIssueDetailModels.Any())
                                        {
                                            int i;
                                            int c = Model.SwQcIssueDetailModels.Count;
                                            for (i = 0; i < c; i++)
                                            {
                                                <tr>
                                                    <td>@Model.SwQcIssueDetailModels[i].IssueSerial</td>
                                                    <td>@Model.SwQcIssueDetailModels[i].FileOrIssue</td>
                                                    @*<td>@Model.SwQcIssueDetailModels[i].IsApprovedForChinas</td>*@
                                                    <td>@Model.SwQcIssueDetailModels[i].UserFullName</td>
                                                    <td>@Model.SwQcIssueDetailModels[i].SoftwareVersionNo</td>
                                                    <td>@Model.SwQcIssueDetailModels[i].IssueScenario</td>
                                                    <td>@Model.SwQcIssueDetailModels[i].ExpectedOutcome</td>
                                                    <td>@Model.SwQcIssueDetailModels[i].IssueDetails</td>
                                                    <td>@Model.SwQcIssueDetailModels[i].RefernceModule</td>
                                                    <td>@Model.SwQcIssueDetailModels[i].Frequency</td>
                                                    <td>@Model.SwQcIssueDetailModels[i].Attachment</td>
                                                    <td>@Model.SwQcIssueDetailModels[i].IssueType</td>
                                                    <td>@Model.SwQcIssueDetailModels[i].Result</td>
                                                    <td>@Model.SwQcIssueDetailModels[i].FilesUrl</td>
                                                    <td>@Model.SwQcIssueDetailModels[i].FilesDetail</td>
                                                    <td>
                                                        <div class="file-preview-thumbnails">
                                                            <div class="">
                                                                <div class="file-preview-frame file-preview-initial" id="preview-1475130072371-init_0" data-fileindex="init_0" data-template="image">
                                                                    <div class="col-lg-12">
                                                                        @Html.HiddenFor(model => model.SwQcIssueDetailModels[i].Upload, new { @class = "clsRmv" })
                                                                        @Html.HiddenFor(model => model.SwQcIssueDetailModels[i].UploadedFile, new { @class = "clsRmv" })
                                                                        @if (Model.SwQcIssueDetailModels[i].FilesDetails != null && Model.SwQcIssueDetailModels[i].FilesDetails.Any())
                                                                        {
                                                                            for (int m = 0; m < Model.SwQcIssueDetailModels[i].FilesDetails.Count; m++)
                                                                            {
                                                                                if (Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".jpg" || Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".png" || Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".mp4" || Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".jpeg" || Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".txt" || Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".xls" || Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".wav")
                                                                                {

                                                                                    <div class="col-lg-3">

                                                                                        <embed class="" src="@Model.SwQcIssueDetailModels[i].FilesDetails[m].FilePath" style="width: 100px;height: 100px" />
                                                                                        <br />
                                                                                        <a target="_blank" href="@Model.SwQcIssueDetailModels[i].FilesDetails[m].FilePath">Download</a>

                                                                                    </div>

                                                                                    <div class="col-lg-3" style="width: 50px;"></div>

                                                                                }
                                                                                if (Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".zip" || Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".pdf" || Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".docx" || Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".xlsx" || Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".rar" || Model.SwQcIssueDetailModels[i].FilesDetails[m].Extention == ".pptx")
                                                                                {
                                                                                    var urls = Model.SwQcIssueDetailModels[i].FilesDetails[m].FilePath.Split('|').ToList();

                                                                                    for (int k = 0; k < urls.Count; k++)
                                                                                    {
                                                                                        var last = urls[k].Split('-').Last();
                                                                                        var lastNameForM = Model.SwQcIssueDetailModels[i].FilesDetails[m].FilePath;

                                                                                        lastNameForM = Path.GetFileName(last);

                                                                                        <div class="col-lg-3" style="width: 100px; height: 100px;">

                                                                                            @Html.TextAreaFor(model => lastNameForM, new { style = "width:100px;height:100px;", disabled = "disabled" })

                                                                                            <br />

                                                                                            <a href="@Model.SwQcIssueDetailModels[i].FilesDetails[m].FilePath" target="_blank">Download</a>

                                                                                        </div>

                                                                                        <div class="col-lg-3" style="width: 50px;"></div>

                                                                                    }
                                                                                }

                                                                            }
                                                                        }

                                                                    </div>


                                                                </div>

                                                            </div>
                                                        </div>
                                                    </td>

                                                </tr>

                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>         
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <div class="portlet box default">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-cogs"></i>Module Name : CTS Test/Monkey Test/Camera Automation
                            </div>
                            <div class="tools">
                                @*<a title="" data-original-title="" href="javascript:;" class="collapse"> </a>
                                <a title="" data-original-title="" href="#portlet-config" data-toggle="modal" class="config"> </a>
                                <a title="" data-original-title="" href="javascript:;" class="reload"> </a>
                                <a title="" data-original-title="" href="javascript:;" class="remove"> </a>*@
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-scrollable table-responsive">
                                <table class="table table-striped table-bordered table-hover tblId14 table2excel" id="tblId14">
                                    <thead class="flip-content">
                                        <tr>
                                            <th style="text-align: center;"> Issue SL. </th>
                                            <th style="text-align: center;">  FileOrIssue </th>
                                            @*<th style="text-align: center;">  IsApproved<br />ForIncentive? </th>*@
                                            <th style="text-align: center;">  Done By </th>
                                            <th style="text-align: center;">  Sw.V.No. </th>
                                            <th style="text-align: center;">  IssueScenario </th>
                                            <th style="text-align: center;"> ExpectedOutcome </th>
                                            <th style="text-align: center;"> IssueDetails </th>
                                            <th style="text-align: center;"> RefernceModule </th>
                                            <th style="text-align: center;"> Frequency </th>
                                            <th style="text-align: center;"> Attachment </th>
                                            <th style="text-align: center;">IssueType </th>
                                            <th style="text-align: center;">Result </th>
                                            <th style="text-align: center;">FilesUrl </th>
                                            <th style="text-align: center;">FilesDetail </th>
                                            <th style="text-align: center;">Upload </th>
                                        </tr>
                                    </thead>
                                    <tbody style="text-align: center">

                                        @if (Model != null && Model.SwQcIssueDetailModels1.Any())
                                        {
                                            int i;
                                            int c = Model.SwQcIssueDetailModels1.Count;
                                            for (i = 0; i < c; i++)
                                            {
                                                <tr>
                                                    <td>@Model.SwQcIssueDetailModels1[i].IssueSerial</td>
                                                    <td>@Model.SwQcIssueDetailModels1[i].FileOrIssue</td>
                                                    @*<td>@Model.SwQcIssueDetailModels1[i].IsApprovedForIncentives</td>*@
                                                    <td>@Model.SwQcIssueDetailModels[i].UserFullName</td>
                                                    <td>@Model.SwQcIssueDetailModels[i].SoftwareVersionNo</td>
                                                    <td>@Model.SwQcIssueDetailModels1[i].IssueScenario</td>
                                                    <td>@Model.SwQcIssueDetailModels1[i].ExpectedOutcome</td>
                                                    <td>@Model.SwQcIssueDetailModels1[i].IssueDetails</td>
                                                    <td>@Model.SwQcIssueDetailModels1[i].RefernceModule</td>
                                                    <td>@Model.SwQcIssueDetailModels1[i].Frequency</td>
                                                    <td>@Model.SwQcIssueDetailModels1[i].Attachment</td>
                                                    <td>@Model.SwQcIssueDetailModels1[i].IssueType</td>
                                                    <td>@Model.SwQcIssueDetailModels1[i].Result</td>
                                                    <td>@Model.SwQcIssueDetailModels1[i].FilesUrl</td>
                                                    <td>@Model.SwQcIssueDetailModels1[i].FilesDetail</td>
                                                    <td>
                                                        <div class="file-preview-thumbnails">
                                                            <div class="">
                                                                <div class="file-preview-frame file-preview-initial" id="preview-1475130072371-init_0" data-fileindex="init_0" data-template="image">
                                                                    <div class="col-lg-12">
                                                                        @Html.HiddenFor(model => model.SwQcIssueDetailModels1[i].Upload, new { @class = "clsRmv" })
                                                                        @Html.HiddenFor(model => model.SwQcIssueDetailModels1[i].UploadedFile, new { @class = "clsRmv" })
                                                                        @if (Model.SwQcIssueDetailModels1[i].FilesDetails != null && Model.SwQcIssueDetailModels1[i].FilesDetails.Any())
                                                                        {
                                                                            for (int m = 0; m < Model.SwQcIssueDetailModels1[i].FilesDetails.Count; m++)
                                                                            {
                                                                                if (Model.SwQcIssueDetailModels1[i].FilesDetails[m].Extention == ".jpg" || Model.SwQcIssueDetailModels1[i].FilesDetails[m].Extention == ".png" || Model.SwQcIssueDetailModels1[i].FilesDetails[m].Extention == ".mp4" || Model.SwQcIssueDetailModels1[i].FilesDetails[m].Extention == ".jpeg" || Model.SwQcIssueDetailModels1[i].FilesDetails[m].Extention == ".txt" || Model.SwQcIssueDetailModels1[i].FilesDetails[m].Extention == ".xls" || Model.SwQcIssueDetailModels1[i].FilesDetails[m].Extention == ".wav")
                                                                                {

                                                                                    <div class="col-lg-3">

                                                                                        <embed class="" src="@Model.SwQcIssueDetailModels1[i].FilesDetails[m].FilePath" style="width: 100px;height: 100px" />
                                                                                        <br />
                                                                                        <a target="_blank" href="@Model.SwQcIssueDetailModels1[i].FilesDetails[m].FilePath">Download</a>

                                                                                    </div>

                                                                                    <div class="col-lg-3" style="width: 50px;"></div>

                                                                                }
                                                                                if (Model.SwQcIssueDetailModels1[i].FilesDetails[m].Extention == ".zip" || Model.SwQcIssueDetailModels1[i].FilesDetails[m].Extention == ".pdf" || Model.SwQcIssueDetailModels1[i].FilesDetails[m].Extention == ".docx" || Model.SwQcIssueDetailModels1[i].FilesDetails[m].Extention == ".xlsx" || Model.SwQcIssueDetailModels1[i].FilesDetails[m].Extention == ".rar" || Model.SwQcIssueDetailModels1[i].FilesDetails[m].Extention == ".pptx")
                                                                                {
                                                                                    var urls = Model.SwQcIssueDetailModels1[i].FilesDetails[m].FilePath.Split('|').ToList();

                                                                                    for (int k = 0; k < urls.Count; k++)
                                                                                    {
                                                                                        var last = urls[k].Split('-').Last();
                                                                                        var lastNameForM = Model.SwQcIssueDetailModels1[i].FilesDetails[m].FilePath;

                                                                                        lastNameForM = Path.GetFileName(last);

                                                                                        <div class="col-lg-3" style="width: 100px; height: 100px;">

                                                                                            @Html.TextAreaFor(model => lastNameForM, new { style = "width:100px;height:100px;", disabled = "disabled" })

                                                                                            <br />

                                                                                            <a href="@Model.SwQcIssueDetailModels1[i].FilesDetails[m].FilePath" target="_blank">Download</a>

                                                                                        </div>

                                                                                        <div class="col-lg-3" style="width: 50px;"></div>

                                                                                    }
                                                                                }

                                                                            }
                                                                        }

                                                                    </div>


                                                                </div>

                                                            </div>
                                                        </div>
                                                    </td>

                                                </tr>

                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br />            
            <div class="row">
                <div class="col-lg-12">
                    <div class="portlet box default">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-cogs"></i>Module Name : Personal Issue Findings
                            </div>
                            <div class="tools">
                                @*<a title="" data-original-title="" href="javascript:;" class="collapse"> </a>
                                <a title="" data-original-title="" href="#portlet-config" data-toggle="modal" class="config"> </a>
                                <a title="" data-original-title="" href="javascript:;" class="reload"> </a>
                                <a title="" data-original-title="" href="javascript:;" class="remove"> </a>*@
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-scrollable table-responsive">
                                <table class="table table-striped table-bordered table-hover tblId15 table2excel" id="tblId15">
                                    <thead class="flip-content">
                                        <tr>
                                            <th style="text-align: center;">  FileOrIssue </th>
                                            @*<th style="text-align: center;">  IsApproved<br />ForIncentive? </th>*@
                                            <th style="text-align: center;">  Done By </th>
                                            <th style="text-align: center;">  IssueScenario </th>
                                            <th style="text-align: center;"> ExpectedOutcome </th>
                                            <th style="text-align: center;"> IssueDetails </th>
                                            <th style="text-align: center;"> RefernceModule </th>
                                            <th style="text-align: center;"> Frequency </th>
                                            <th style="text-align: center;"> Attachment </th>
                                            <th style="text-align: center;">IssueType </th>
                                            <th style="text-align: center;">Result </th>
                                            <th style="text-align: center;">FilesUrl </th>
                                            <th style="text-align: center;">FilesDetail </th>
                                            <th style="text-align: center;">Upload </th>
                                        </tr>
                                    </thead>
                                    <tbody style="text-align: center">

                                        @if (Model != null && Model.SwQcPersonalUseFindingsIssueDetailModels.Any())
                                        {
                                            int i;
                                            int c = Model.SwQcPersonalUseFindingsIssueDetailModels.Count;
                                            for (i = 0; i < c; i++)
                                            {
                                                <tr>
                                                    <td>@Model.SwQcPersonalUseFindingsIssueDetailModels[i].FileOrIssue</td>
                                                    @*<td>@Model.SwQcPersonalUseFindingsIssueDetailModels[i].IsApprovedForIncentives</td>*@
                                                    <td>@Model.SwQcPersonalUseFindingsIssueDetailModels[i].UserFullName</td>
                                                    <td>@Model.SwQcPersonalUseFindingsIssueDetailModels[i].IssueScenario</td>
                                                    <td>@Model.SwQcPersonalUseFindingsIssueDetailModels[i].ExpectedOutcome</td>
                                                    <td>@Model.SwQcPersonalUseFindingsIssueDetailModels[i].IssueDetails</td>
                                                    <td>@Model.SwQcPersonalUseFindingsIssueDetailModels[i].RefernceModule</td>
                                                    <td>@Model.SwQcPersonalUseFindingsIssueDetailModels[i].Frequency</td>
                                                    <td>@Model.SwQcPersonalUseFindingsIssueDetailModels[i].Attachment</td>
                                                    <td>@Model.SwQcPersonalUseFindingsIssueDetailModels[i].IssueType</td>
                                                    <td>@Model.SwQcPersonalUseFindingsIssueDetailModels[i].Result</td>
                                                    <td>@Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesUrl</td>
                                                    <td>@Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesDetail</td>
                                                    <td>
                                                        <div class="file-preview-thumbnails">
                                                            <div class="">
                                                                <div class="file-preview-frame file-preview-initial" id="preview-1475130072371-init_0" data-fileindex="init_0" data-template="image">
                                                                    <div class="col-lg-12">
                                                                        @Html.HiddenFor(model => model.SwQcPersonalUseFindingsIssueDetailModels[i].Upload, new { @class = "clsRmv" })
                                                                        @Html.HiddenFor(model => model.SwQcPersonalUseFindingsIssueDetailModels[i].UploadedFile, new { @class = "clsRmv" })
                                                                        @if (Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesDetails != null && Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesDetails.Any())
                                                                        {
                                                                            for (int m = 0; m < Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesDetails.Count; m++)
                                                                            {
                                                                                if (Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesDetails[m].Extention == ".jpg" || Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesDetails[m].Extention == ".png" || Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesDetails[m].Extention == ".mp4" || Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesDetails[m].Extention == ".jpeg" || Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesDetails[m].Extention == ".txt" || Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesDetails[m].Extention == ".xls" || Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesDetails[m].Extention == ".wav")
                                                                                {

                                                                                    <div class="col-lg-3">

                                                                                        <embed class="" src="@Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesDetails[m].FilePath" style="width: 100px;height: 100px" />
                                                                                        <br />
                                                                                        <a target="_blank" href="@Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesDetails[m].FilePath">Download</a>

                                                                                    </div>

                                                                                    <div class="col-lg-3" style="width: 50px;"></div>

                                                                                }
                                                                                if (Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesDetails[m].Extention == ".zip" || Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesDetails[m].Extention == ".pdf" || Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesDetails[m].Extention == ".docx" || Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesDetails[m].Extention == ".xlsx" || Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesDetails[m].Extention == ".rar" || Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesDetails[m].Extention == ".pptx")
                                                                                {
                                                                                    var urls = Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesDetails[m].FilePath.Split('|').ToList();

                                                                                    for (int k = 0; k < urls.Count; k++)
                                                                                    {
                                                                                        var last = urls[k].Split('-').Last();
                                                                                        var lastNameForM = Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesDetails[m].FilePath;

                                                                                        lastNameForM = Path.GetFileName(last);

                                                                                        <div class="col-lg-3" style="width: 100px; height: 100px;">

                                                                                            @Html.TextAreaFor(model => lastNameForM, new { style = "width:100px;height:100px;", disabled = "disabled" })

                                                                                            <br />

                                                                                            <a href="@Model.SwQcPersonalUseFindingsIssueDetailModels[i].FilesDetails[m].FilePath" target="_blank">Download</a>

                                                                                        </div>

                                                                                        <div class="col-lg-3" style="width: 50px;"></div>

                                                                                    }
                                                                                }

                                                                            }
                                                                        }

                                                                    </div>


                                                                </div>

                                                            </div>
                                                        </div>
                                                    </td>

                                                </tr>

                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br />
        }
   
        
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</div>
<div class="rvmCls">
    <button onclick="goBack()" class="btn blue-ebonyclay"> <span class="fa fa-backward">  Go Back</span></button>
</div>
<script type="text/javaScript">
    function goBack() {
        window.history.back();
    }  
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

<script>
    
    function export2Word(element) {

        var html, link, blob, url, css;
        css = (
            '<style>' +
                '@Page table2excel{size: 841.95pt 595.35pt;mso-page-orientation: landscape;}' +
                'div.table2excel {page: table2excel;}' +
                '</style>'
        );

        html = element.innerHTML;
        blob = new Blob(['\ufeff', css + html], {
            type: 'application/msword'
        });
        url = URL.createObjectURL(blob);
        link = document.createElement('A');
        link.href = url;
        link.download = 'QCReport';  // default name without extension
        document.body.appendChild(link);
        if (navigator.msSaveOrOpenBlob) navigator.msSaveOrOpenBlob(blob, 'QCReport.doc'); // IE10-11
        else link.click();  // other browsers
        document.body.removeChild(link);
        //  $(".rvmCls").remove();
    };
    $('.jquery-excell-export').click(function () {
        //$("#table2excel").table2excell({
        //    // exclude CSS class
        //    exclude: ".noExl",
        //    name: "Worksheet Name",
        //    filename: "SomeFile" //do not include extension
        //});

        var table = document.getElementById('table2excel');
        var html = table.outerHTML;
        // window.open('data:application/vnd.ms-excel,' + escape(html));
        //window.open('data:application/vnd.ms-excel,' + encodeURIComponent(html));
        //  window.open('data:application/vnd.ms-' + defaults.type + ';filename=exportData.excel;' + encodeURIComponent(html));
        window.open('data:application/vnd.ms-excel,' + encodeURIComponent(html));
    });
    $(document).ready(function () {
        var tdtblSam2 = $('#tblID13').DataTable({
            "columnDefs": [{
                "searchable": false,
                "orderable": true,
                "targets": 6
            }],
            "lengthMenu": [[3, 5, 10, 20, 30, 50, -1], [3, 5, 10, 20, 30, 50, "All"]],
            
        });
        //tdtblSam2.on('order.dt search.dt', function () {
        //    tdtblSam2.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
        //        cell.innerHTML = i + 1;
        //    });
        //}).draw();
      
        var tblId14s = $('#tblId14').DataTable({
            "columnDefs": [{
                "searchable": false,
                "orderable": true,
                "targets": 6
            }],
            "lengthMenu": [[3, 5, 10, 20, 30, 50, -1], [3, 5, 10, 20, 30, 50, "All"]],
           
        });
        //tblId14s.on('order.dt search.dt', function () {
        //    tblId14s.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
        //        cell.innerHTML = i + 1;
        //    });
        //}).draw();

        var tblId15s = $('#tblId15').DataTable({
            "columnDefs": [{
                "searchable": false,
                "orderable": true,
                "targets": 6
            }],
            "lengthMenu": [[3, 5, 10, 20, 30, 50, -1], [3, 5, 10, 20, 30, 50, "All"]],
         
        });
        //tblId15s.on('order.dt search.dt', function () {
        //    tblId15s.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
        //        cell.innerHTML = i + 1;
        //    });
        //}).draw();
    });
  
</script>

